/* CSS Document */
body{ margin:0px auto; padding:0;overflow-x:hidden;  color: #333; font-size: 12px;font-family: "微软雅黑";}
div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input, textarea,blockquote,p{padding:0;margin:0;} 
table,td,tr,th{font-size:12px;} li{list-style:none;vertical-align:bottom;} img{Vertical-aliagn:top; border:0;} 
ol,ul{list-style:none;} 
a{color:#333;text-decoration:none;} 
a:visited{text-decoration:none;} 
a:hover{color: #666;text-decoration:none;} 
a:active{color:#666;text-decoration: none;}
.clear{ clear:both;}
.left{float:left;}
.right{float:right;}
.dis{display:none;}
.block{display:block;}
.dotted{ width:100%; height:1px; border-bottom:#999 1px dashed; float:left; margin:5px 0 5px 0;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
/* Hides from IE-mac \*/
*:first-child+html .clearfix{zoom:1;} /* IE7 */
* html .clearfix { height: 1%;zoom:1;}
.clearfix {display: block;}
.left{float: left;}
.right{float: right;}
h3{font-size: 14px;}
h2{font-size: 16px;}
