<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1,  user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8" />
		<title>关于我们</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/init.css" />
		<link rel="stylesheet" href="css/menu.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		 <!--[if lt IE 9]>
      <script src="js/respond.src.js"></script>
           <!--<![endif]-->
		<script>
			//登录js
			function login(){
				//alert("login");
				var _form = document.getElementById("login_alert");
				var _inputs = _form.getElementsByTagName("input");
				var email;
				var password;
				var path="/login";
				var flagEmail=true;
				var flagPassword=true;
				for (var i = 0; i < _inputs.length; i++) {
					if(_inputs[i].name.toString()=="email"){
						email=_inputs[i].value;
						if(email==null){
							flagEmail=false;
						}  else{
							if(email.indexOf("@")<=-1){
								flagEmail=false;
							}
						}

					}
					if(_inputs[i].name.toString()=="password"){
						password=_inputs[i].value;
						if(password==null||password==""){
							flagPassword=false;
						}
					}
				}
				//alert("flagPassword="+flagPassword);
				//alert("flagEmail="+flagEmail);
				if(flagEmail==false){
					document.getElementById("loginEmail").style.display="";
				}else{
					document.getElementById("loginEmail").style.display="none";
				}
				if(flagPassword==false){
					document.getElementById("loginPassword").style.display="";
				}else{
					document.getElementById("loginPassword").style.display="none";
				}
				if(flagEmail&&flagPassword) {
					_form.action = path + "?email=" + email + "&password=" + password;
					_form.submit();
				}

			}
			//注册js
			function register(){
				//alert("register");
				var _form = document.getElementById("rg_alert");
				var _inputs = _form.getElementsByTagName("input");
				var email;
				var password;
				var Confirmpassword;
				var username;
				var path="/register";
				var flagEmail=true;
				var flagPassword=true;
				var flagUsername=true;
				var flagConfirmPassword=true;

				for (var i = 0; i < _inputs.length; i++) {
					if(_inputs[i].name.toString()=="email"){
						email=_inputs[i].value;
						if(email==null){
							flagEmail=false;
						}  else{
							if(email.indexOf("@")<=-1){
								flagEmail=false;
							}
						}
					}
					if(_inputs[i].name.toString()=="password"){
						password=_inputs[i].value;
						if(password==null||password==""){
							flagPassword=false;
						}
					}
					if(_inputs[i].name.toString()=="Confirmpassword"){
						Confirmpassword=_inputs[i].value;
						if(Confirmpassword==null||Confirmpassword==""){
							flagConfirmPassword=false;
						}if(password!=Confirmpassword){
							flagConfirmPassword=false;
						}
					}
					if(_inputs[i].name.toString()=="username"){
						username=_inputs[i].value;
						if(username==null||username==""){
							flagUsername=false;
						}
					}
				}
				//alert("flagPassword="+flagPassword);
				//alert("flagEmail="+flagEmail);
				if(flagEmail==false){
					document.getElementById("regEmail").style.display="";
				}else{
					document.getElementById("regEmail").style.display="none";
				}
				if(flagPassword==false){
					document.getElementById("regPassword").style.display="";
				}else{
					document.getElementById("regPassword").style.display="none";
				}
				if(flagUsername==false){
					document.getElementById("regUsername").style.display="";
				}else{
					document.getElementById("regUsername").style.display="none";
				}
				if(flagConfirmPassword==false){
					document.getElementById("regConfirmPassword").style.display="";
				}else{
					document.getElementById("regConfirmPassword").style.display="none";
				}
				if(flagEmail&&flagPassword&&flagUsername&&flagConfirmPassword) {
					_form.action = path + "?email=" + email + "&password=" + password+"&username="+username;
					_form.submit();
				}
			}
			//找回密码js
			function findPassword(){
				//alert("findPassword");
				var _form = document.getElementById("find_alert");
				var _inputs = _form.getElementsByTagName("input");
				var email;
				var path="/findPassword";
				var flagEmail=true;
				for (var i = 0; i < _inputs.length; i++) {
					if(_inputs[i].name.toString()=="email"){
						email=_inputs[i].value;
						if(email==null){
							flagEmail=false;
						}  else{
							if(email.indexOf("@")<=-1){
								flagEmail=false;
							}
						}

					}
				}
				//alert("flagPassword="+flagPassword);
				//alert("flagEmail="+flagEmail);
				if(flagEmail==false){
					document.getElementById("findPassword").style.display="";
				}else{
					document.getElementById("findPassword").style.display="none";
				}
				if(flagEmail) {
					$(".find_alert").hide();
					$(".success_alert").show();
					setTimeout(function(){
						_form.action = path + "?email=" + email;
						_form.submit();
					},1000);
				}

			}
		</script>
           
	</head>
	<body>
		<div class="head">
			<div class="container clearfix">
			<div class="right">
				  <span  th:if="${#lists.isEmpty(loginStatus)}">
				<!--登录前-->
				<a href="javascript:;" class="left lgbtn">登录</a>
				<span class="left">&nbsp;|&nbsp;</span>
				<a href="javascript:;" class="left regbtn">注册</a>
                </span>

				<span  th:if="${not #lists.isEmpty(loginStatus)}">
				<!--登录后-->
				<div class="left login_hou">
					<p class="login_per">
						<a href="#"><span th:text="${userName}"></span></a>
					</p>
					<div class="login_hou_yin">
						<p>
							<a href="gaikuang.html" class="out">广告平台</a>
						</p>
                        <p>
							<a href="#" class="out">媒体平台</a>
						</p>
                        <p>
							<a href="/signout" class="out">退出</a>
						</p>
					</div>
				</div>
                 </span>
				<div class="left language clearfix">
					<div class="clearfix lang"><span class="left">简体中文</span><em class="left"></em></div>
					<div class="language_con">
						<p>
							<a href="#">English</a>
						</p>
						<p>
							<a href="#">简体中文</a>
						</p>
					</div>
				</div>
			</div>
			</div>
		</div>
	    <div class="menu">
	    	<div class="container clearfix">
	    		<a href="#" class="left logo">
	    			<img src="images/index_07.png" />
	    		</a>
	    		<div class="right col-md-5 col-sm-6 col-xs-4 menu_main">
	    			<nav class="navbar navbar-default equinav" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">Menu</span>
				</div>
				<!-- /.navbar-header -->
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav clearfix">
						<li><a href="index.html">
							+ 首页                                                                                                     
						</a></li>
						<li><a href="ad.html">
							+ 广告主                
						</a></li>
						<li><a href="feed.html">
							+ 媒体主
						</a></li>
						<li><a href="about.html" class="ahover">
							+ 关于我们
						</a></li>
						
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
	    		</div>
	    	</div>
	    </div>
	    <div class="about_ban"></div>
	    <div class="about1">
	    <ul class="about1_ul clearfix container">
	    <li class="col-md-3 col-sm-6 col-xs-12">
	       <img src="images/about_08.png" />
	       <p class="about1_tl">创 造</p>
	      <p class="about1_text">我们为移动广告打造一个最好的体验平台</p>
	    </li>
	     <li class="col-md-3 col-sm-6 col-xs-12">
	       <img src="images/about_05.png" />
	       <p class="about1_tl">学 习</p>
	      <p class="about1_text">我们崇尚“后大学”时代的持续学习</p>
	    </li>
	     <li class="col-md-3 col-sm-6 col-xs-12">
	       <img src="images/about_07.png" />
	       <p class="about1_tl">成 长</p>
	      <p class="about1_text">我们在工作和学习中获得更多地成长</p>
	    </li>
	     <li class="col-md-3 col-sm-6 col-xs-12">
	       <img src="images/about_10.png"/>
	       <p class="about1_tl">分 享</p>
	      <p class="about1_text">我们彼此分享成功，分享成长，分享快乐</p>
	    </li>
	    </ul>
	    
	    </div>
        <div class="about2 container">
         <p class="about_tl">与知渔在一起</p>
         <p class="about_text">知渔科技成立于2016年3月，总部位于中国北京市。知渔科技是一家以人工智能和大数据算法为基础的移动广告科技公司。没有人能独自引领世界范围的变革，它需要整个团队的协作。
</p>
           <p class="about_text">无论您想在video网站投放贴片广告，或在App里面投放native广告，又或在html5页面投放banner 广告….您不再需要担心预算过少的问题，您可以通过较低投放价格购买到知渔科技在全球100多个国家的2600多家合作媒体的资源位置。知渔科技拥有世界一流的客户服务和日益增长的用户资源，为广告主和媒体主提供了一个最简单有效的连接途径，让他们可以利用智能平台进行最好的匹配，并将匹配结果展示给成百上千万的目标受众。

</p>

         <div class="wuzhijing"></div>
         <p class="about_tl">从最好学习最好</p>
          <div class="about3_text">
           <p class="about_text">我们专注于不断的学习，不断的创新。这就是为什么我们会定期举办商务，运营以及技术的讨论会议。行业领导人也会持续的来分享他们的智慧与经验，<br />
不管是首席执行官还是音乐家，还是经济学者，还是青年教师，我们都可以从他们身上学到宝贵的东西。

</p>
          </div>
          <ul class="about3_ul clearfix">
            <li class="col-md-4 col-sm-4 col-xs-12">
            <span class="about3_ul_img">
               <img src="images/about_27.png" />
             </span>
               <p class="about3_ul_tl">工程博客</p>
               <p class="about3_ul_text">深入了解我们工程技术团队目前的工作</p>
            </li>
            <li class="col-md-4 col-sm-4 col-xs-12">
            <span class="about3_ul_img">
               <img src="images/about_29.png" />
                </span>
               <p class="about3_ul_tl">开放源代码</p>
               <p class="about3_ul_text">我们在建立共享经济的同时，也在为开 
  放源代码做贡献</p>
            </li>
            <li class="col-md-4 col-sm-4 col-xs-12">
            <span class="about3_ul_img">
               <img src="images/about_24.png" />
                </span>
               <p class="about3_ul_tl">技术分享会</p>
               <p class="about3_ul_text">我们邀请了很多技术专家进行分享，他
 们将就大数据，人工智能及更多话题进行精彩的演讲</p>
            </li>
          
          </ul>
        </div>
        <div class="about4">
        <div class="container">
         <p class="about_tl">建设知渔</p>
         <p class="about_text">移动广告平台是世界上发展最快的平台型产品，知渔广告平台正是看准这个迅速发展的行业，依托强大的技术优势，建立起连接全球媒体和广告投放的智能平台。知渔广告平台的规模在短期内一直呈现爆发增长，不管是服务的广告主还是连接的媒体资源，都在与日增长。

</p>

          <p class="about_text">
我们已经完成每天上亿次的广告请求，并且新的请求还在持续发生。我们在保证优质用户体验的同时，一直都在应对以下各个方面的挑战：广告算法、用户画像、预防欺诈以及自身的发展。为了寻找有效、简洁、并可以广泛应用的解决方案，我们一直在致力于平台的建设和优化，同时也在吸引优秀的人才加入。

</p>
          <ul class="clearfix about4_ul">
           <li class="col-md-6 col-sm-6 col-xs-12">
             <div class="about4_ul_con clearfix">
             <img src="images/about_35.png" class="left" style="margin-top: 24.5px;" />
             <div class="left about4_ul_con_text">
             <p class="about4_ul_con_small">广告主</p>
             <p class="about4_ul_con_big">1000多个</p>
             </div>
             </div>
           
           </li>
            <li class="col-md-6 col-sm-6 col-xs-12">
             <div class="about4_ul_con clearfix">
             <img src="images/about_38.png" class="left" style="margin-top: 19px;" />
             <div class="left about4_ul_con_text">
             <p class="about4_ul_con_small">城市</p>
             <p class="about4_ul_con_big">4500多个</p>
             </div>
             </div>
           
           </li>
          <li class="col-md-6 col-sm-6 col-xs-12">
             <div class="about4_ul_con clearfix">
             <img src="images/about_42.png" class="left" style="margin-top: 21.5px;" />
             <div class="left about4_ul_con_text">
             <p class="about4_ul_con_small">媒体主</p>
             <p class="about4_ul_con_big">2600多个</p>
             </div>
             </div>
           
           </li>
            <li class="col-md-6 col-sm-6 col-xs-12">
             <div class="about4_ul_con clearfix">
             <img src="images/about_43.png" class="left" style="margin-top: 15.5px;" />
             <div class="left about4_ul_con_text">
             <p class="about4_ul_con_small">国家</p>
             <p class="about4_ul_con_big">100多个</p>
             </div>
             </div>
           
           </li>
          </ul>
           <div class="quanq">全球办事处  <span style="color: #034d73;font-size: 48px;">20+</span></div>
           <img src="images/about_47.png" class="ditu" />
        </div>
        
        </div>
        <div class="about5">
         <div class="container">
               <p class="about_tl">知渔文化</p>
               <p class="about_text">知渔是一家位于中国北京并在其他国家设有办事处的的人工智能广告公司。知渔自主研发的人工智能平台和自然语言处理系统可帮助我们对于互联网媒体上的图片，视频以及文字内容进行定向分析，同时对于用户访问行为进行画像，可自动将合适的广告以原生的方式植入图片，视频以及文字内容内，实现一种全新、高效的广告投放和广告曝光形式。知渔每天都有大量的广告请求在增加，我们面向前端的广告引擎，是一个高并发，低延迟的分布式系统，在保证业务扩展的同时，有效保证系统稳定。

</p>           
 
               <div class="about5_ul clearfix">
               <div class="col-md-3 col-sm-3 col-xs-12 about5_ul_li">
                  <img src="images/about_51.png" />
                  <p class="about3_ul_tl">承担使命</p>
                  <p class="about1_text">有激情，有决心，乐观向上。从事自己喜欢的工作，并为之奋斗。承担责任，并给出成果，将归属感发扬光大。</p>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-12 about5_ul_li">
                  <img src="images/about_53.png" />
                  <p class="about3_ul_tl">大胆创新</p>
                  <p class="about1_text">充满创意，拥抱约束，以解决问题为导向，坚韧顽强。</p>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-12 about5_ul_li">
                  <img src="images/about_55.png" />
                  <p class="about3_ul_tl">勇往直前</p>
                  <p class="about1_text">灵活，能够承受风险。不断学习，有好奇心，思想开明，快乐地工作。</p>
               </div>
               <div class="col-md-3 col-sm-3 col-xs-12 about5_ul_li">
                  <img src="images/about_57.png" />
                  <p class="about3_ul_tl">严谨细致</p>
                  <p class="about1_text">全方位地思考问题，严格地把关质量。懂得欣赏细节,并优先考虑正确的选择。</p>
               </div>
               
               </div>
               <div class="about5_img"></div>
                   <p class="about_tl">走在技术前沿</p>
                
               <p class="about_text">我们每天都会有算法工程师和大数据工程师在努力工作，为了提高广告平台的 eCPM在不断修改和优化广告算法，不断提升实时数据的处理时间。我们使用阿里云的网络服务，每一天都不断地去实践，去完善我们的系统部署以及架构优化。我们快速尝试新的想法，并开发现有的功能。我们喜欢尝试对工作有帮助的新的技术。我们不仅使用前沿科技，我们自己也开发尖端技术：我们创建了一个可以在用户端和服务器上完美运行的JavaScript架构，我们也创建了自己的排序算法，创建了自己的防作弊以及效果跟踪系统。

</p>
               <p class="about_tl">一起学习和成长</p>
               <p class="about_text">我们认为，不论是工作还是生活都是一个持续学习与提高的过程。从其他伙伴那里获得帮助和分享则是最佳的学习方式，因为和大家在一起工作和生活才会更有乐趣。也为了持续进行非正式的知识分享，我们所有的工程师，产品，商务以及客服同学都会在聊天室互相交流。为了让大家都能有机会做到最好，我们每两周会举办一次交流分享的会议，既有公司内部范围的，也有外部人员可以参加的。通过这种分享交流，让我们在知渔的工作中得到更大的提升，进而促进生活的富足与快乐。
</p> 
             
         </div>
        
        
        </div>
	 
	    <div class="sy7">
	    	<div class="container clearfix">
	    		<div class="col-md-3 col-sm-3 col-xs-12 pnone" style="padding-left: 0px;">
	    			<p class="mine_name">我们是谁</p>
	    			<div class="sy7_logo">
	    				<img src="images/index_07.png">
	    			</div>
	    			<div>知渔广告平台整合了海量WAP网站和APP媒体资源，利用高效广告形式，结合先进定向技术，针对广告主需求，提供量身定制的移动互联网广告投放方案。</div>
	    		    <div class="clearfix">
	    		    	<a href="#" class="right">了解详情 →</a>
	    		    </div>
	    		</div>
	    	    <div class="col-md-9 col-sm-9 col-xs-12 pnone phone" style="padding-right: 0px;">
	    	    	<p class="mine_name">联系我们</p>
	    	    	<div style="margin-bottom: 20px;">知渔移动广告平台在全球主要市场设有办事处，服务于我们的客户和我们的媒体合作伙伴。我们对当地的市场动态、媒体资源及受众了解，以确保我们的客户在他们的移动营销投资上得到一个特殊的回报。</div>
	    	        <div class="clearfix">
	    	        	<div class="col-md-8 col-sm-8 col-xs-12 pnone phone">
	    	        		<p class="place">地址：北京市通州区新仓路25号2单元5层502号</p>
	    	        		<p class="tel">电话：010-69513939</p>
	    	        		<p class="email">邮箱：service@zhiyu001.com</p>
	    	        	</div>
	    	        	<div class="col-md-4 col-sm-4 col-xs-12 pnone ew clearfix">
	    	        		<div class="ew_con">
	    	        			<img src="images/index_81.png">
	    	        			<p>关注“知渔科技”</p>
	    	        		</div>
	    	        	</div>
	    	        </div>
	    	    </div>
	    	</div>
	    </div>
	    <div class="footer">
	    	<div class="container clearfix">
	    		<div class="col-md-6 col-sm-6 col-xs-12 pnone" style="padding-left: 0px;">
	    			© Copyright @2016-2018  知渔科技 All Rights Reserved
	    		</div>
	    		<div class="col-md-6 col-sm-6 col-xs-12 pnone clearfix" style="padding-right: 0px;">
	    			<div class="foot_a">
	    				<a href="#">关于我们        </a>
	    				<a href="#">联系我们</a>
	    				<a href="#">微信平台</a>
	    			</div>
	    		</div>
	    	</div>
	    </div>
		<!--成功-->
		<div class="alert success_alert">
			<em class="cha"></em>
			<img src="images/tjgg_03.jpg" />
			<p>已成功发送!</p>
		</div>


		<div class="huibg">  </div>
		<!--登录-->
		<div class="alert login_alert" id="login">
			<div class="alert_img">
				<img src="images/lg_03.jpg" />
			</div>
			<form id="login_alert">
				<div class="lg_gp clearfix">
					<img src="images/lg07.jpg" class="left" />
					<div class="lg_input">
						<input type="text" name="email" placeholder="邮箱地址" />
					</div>
				</div>
				<div class="erro" id="loginEmail" style="display:none;">请输入正确的邮箱</div>
				<div class="lg_gp clearfix">
					<img src="images/lg08.jpg" class="left" />
					<div class="lg_input">
						<input type="password" name="password" placeholder="密码" />
					</div>
				</div>
				<div class="erro" id="loginPassword" style="display:none;">请输入密码</div>
				<div class="lg_btn">
					<input type="button" value="登录" onclick="login()"/>
				</div>
				<div class="clearfix lg_link">
					<a href="javascript:;" class="left ljzc">立即注册 >></a>
					<a href="javascript:;" class="right wangmi">忘记密码？</a>
				</div>
			</form>
		</div>
		<!-- 注册-->
		<div class="alert rg_alert">
			<div class="alert_img">
				<img src="images/lg_03.jpg" />
			</div>
			<form id="rg_alert" action="/register">
				<div class="lg_gp clearfix">
					<img src="images/lg03.jpg" class="left" />
					<div class="lg_input">
						<input type="text" name="username" placeholder="用户名"/>
					</div>
				</div>
				<div class="erro" id="regUsername" style="display: none">请输入正确的用户名</div>
				<div class="lg_gp clearfix">
					<img src="images/lg07.jpg" class="left" />
					<div class="lg_input">
						<input type="text" name="email" placeholder="邮箱地址" />
					</div>
				</div>
				<div class="erro" id="regEmail" style="display: none">请输入邮箱</div>
				<div class="lg_gp clearfix">
					<img src="images/lg08.jpg" class="left" />
					<div class="lg_input">
						<input type="password" name="password" placeholder="输入密码" />
					</div>
				</div>
				<div class="erro" id="regPassword"style="display: none">请输入密码</div>
				<div class="lg_gp clearfix">
					<img src="images/lg_10.jpg" class="left" />
					<div class="lg_input">
						<input type="password" name="Confirmpassword" placeholder="确认密码" />
					</div>
				</div>

				<div class="erro" id="regConfirmPassword" style="display: none">请输入相同密码</div>
				<div class="lg_btn">
					<input type="button" value="注册" onclick="register()"/>
				</div>
				<div class="clearfix lg_link">
					<a href="javascript:;" class="left yiyou">已有账号，快速登录</a>
				</div>
			</form>
		</div>
		<!--找回密码-->
		<div class="alert find_alert">
			<div class="alert_img">
				<img src="images/lg_03.jpg" />
			</div>
			<form id="find_alert">
				<div class="lg_gp clearfix">
					<img src="images/lg07.jpg" class="left" />
					<div class="lg_input">
						<input type="text" name="email" placeholder="邮箱地址" />
					</div>
				</div>
				<div class="tishi">请输入邮箱，我们会发送重置密码链接到您的邮箱</div>
				<div class="erro" id="findPassword" style="display: none">请输入正确的邮箱</div>

				<div class="lg_btn">
					<input type="button" value="确定" onclick="findPassword()"/>
				</div>
				<div class="clearfix lg_link">
					<a href="javascript:;" class="left yiyou">已有账号，快速登录</a>
				</div>
			</form>
		</div>
	    <script type="text/javascript" src="js/index.js" ></script>
	   
	    <script type="text/javascript" src="js/head.js" ></script>
	</body>
</html>
