<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1,  user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8" />
		<title>广告主</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/init.css" />
		<link rel="stylesheet" href="css/menu.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		 <!--[if lt IE 9]>
      <script src="js/respond.src.js"></script>
           <!--<![endif]-->
		<script>
		//登录js
		function login(){
		//alert("login");
		var _form = document.getElementById("login_alert");
		var _inputs = _form.getElementsByTagName("input");
		var email;
		var password;
		var path="/login";
		var flagEmail=true;
		var flagPassword=true;
		for (var i = 0; i < _inputs.length; i++) {
		if(_inputs[i].name.toString()=="email"){
		email=_inputs[i].value;
		if(email==null){
		flagEmail=false;
		}  else{
		if(email.indexOf("@")<=-1){
		flagEmail=false;
		}
		}

		}
		if(_inputs[i].name.toString()=="password"){
		password=_inputs[i].value;
		if(password==null||password==""){
		flagPassword=false;
		}
		}
		}
		//alert("flagPassword="+flagPassword);
		//alert("flagEmail="+flagEmail);
		if(flagEmail==false){
		document.getElementById("loginEmail").style.display="";
		}else{
		document.getElementById("loginEmail").style.display="none";
		}
		if(flagPassword==false){
		document.getElementById("loginPassword").style.display="";
		}else{
		document.getElementById("loginPassword").style.display="none";
		}
		if(flagEmail&&flagPassword) {
		_form.action = path + "?email=" + email + "&password=" + password;
		_form.submit();
		}

		}
		//注册js
		function register(){
		//alert("register");
		var _form = document.getElementById("rg_alert");
		var _inputs = _form.getElementsByTagName("input");
		var email;
		var password;
		var Confirmpassword;
		var username;
		var path="/register";
		var flagEmail=true;
		var flagPassword=true;
		var flagUsername=true;
		var flagConfirmPassword=true;

		for (var i = 0; i < _inputs.length; i++) {
		if(_inputs[i].name.toString()=="email"){
		email=_inputs[i].value;
		if(email==null){
		flagEmail=false;
		}  else{
		if(email.indexOf("@")<=-1){
		flagEmail=false;
		}
		}
		}
		if(_inputs[i].name.toString()=="password"){
		password=_inputs[i].value;
		if(password==null||password==""){
		flagPassword=false;
		}
		}
		if(_inputs[i].name.toString()=="Confirmpassword"){
		Confirmpassword=_inputs[i].value;
		if(Confirmpassword==null||Confirmpassword==""){
		flagConfirmPassword=false;
		}if(password!=Confirmpassword){
		flagConfirmPassword=false;
		}
		}
		if(_inputs[i].name.toString()=="username"){
		username=_inputs[i].value;
		if(username==null||username==""){
		flagUsername=false;
		}
		}
		}
		//alert("flagPassword="+flagPassword);
		//alert("flagEmail="+flagEmail);
		if(flagEmail==false){
		document.getElementById("regEmail").style.display="";
		}else{
		document.getElementById("regEmail").style.display="none";
		}
		if(flagPassword==false){
		document.getElementById("regPassword").style.display="";
		}else{
		document.getElementById("regPassword").style.display="none";
		}
		if(flagUsername==false){
		document.getElementById("regUsername").style.display="";
		}else{
		document.getElementById("regUsername").style.display="none";
		}
		if(flagConfirmPassword==false){
		document.getElementById("regConfirmPassword").style.display="";
		}else{
		document.getElementById("regConfirmPassword").style.display="none";
		}
		if(flagEmail&&flagPassword&&flagUsername&&flagConfirmPassword) {
		_form.action = path + "?email=" + email + "&password=" + password+"&username="+username;
		_form.submit();
		}
		}
		//登录js
		function findPassword(){
		//alert("findPassword");
		var _form = document.getElementById("find_alert");
		var _inputs = _form.getElementsByTagName("input");
		var email;
		var path="/findPassword";
		var flagEmail=true;
		for (var i = 0; i < _inputs.length; i++) {
		if(_inputs[i].name.toString()=="email"){
		email=_inputs[i].value;
		if(email==null){
		flagEmail=false;
		}  else{
		if(email.indexOf("@")<=-1){
		flagEmail=false;
		}
		}

		}
		}
		//alert("flagPassword="+flagPassword);
		//alert("flagEmail="+flagEmail);
		if(flagEmail==false){
		document.getElementById("findPassword").style.display="";
		}else{
		document.getElementById("findPassword").style.display="none";
		}
		if(flagEmail) {
		$(".find_alert").hide();
		$(".success_alert").show();
		setTimeout(function(){
		_form.action = path + "?email=" + email;
		_form.submit();
		},1000);
		}

		}
		</script>

	</head>
	<body>
		<div class="head">
			<div class="container clearfix">
			<div class="right">
				<span  th:if="${#lists.isEmpty(loginStatus)}">
				<!--登录前-->
				<a href="javascript:;" class="left lgbtn">登录</a>
				<span class="left">&nbsp;|&nbsp;</span>
				<a href="javascript:;" class="left regbtn">注册</a>
                </span>

				<span  th:if="${not #lists.isEmpty(loginStatus)}">
				<!--登录后-->
				<div class="left login_hou">
					<p class="login_per">
						<a href="#"><span th:text="${userName}"></span></a>
					</p>
					<div class="login_hou_yin">
						<p>
							<a href="gaikuang.html" class="out">广告平台</a>
						</p>
                        <p>
							<a href="#" class="out">媒体平台</a>
						</p>
                        <p>
							<a href="/signout" class="out">退出</a>
						</p>
					</div>
				</div>
                 </span>
				<div class="left language clearfix">
					<div class="clearfix lang"><span class="left">简体中文</span><em class="left"></em></div>
					<div class="language_con">
						<p>
							<a href="#">English</a>
						</p>
						<p>
							<a href="#">简体中文</a>
						</p>
					</div>
				</div>
			</div>
			</div>
		</div>
	    <div class="menu">
	    	<div class="container clearfix">
	    		<a href="#" class="left logo">
	    			<img src="images/index_07.png" />
	    		</a>
	    		<div class="right col-md-5 col-sm-6 col-xs-4 menu_main">
	    			<nav class="navbar navbar-default equinav" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">Menu</span>
				</div>
				<!-- /.navbar-header -->
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav clearfix">
						<li><a href="index.html">
							+ 首页                                                                                                     
						</a></li>
						<li><a href="ad.html" class="ahover">
							+ 广告主                
						</a></li>
						<li><a href="feed.html">
							+ 媒体主
						</a></li>
						<li><a href="about.html">
							+ 关于我们
						</a></li>
						
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
	    		</div>
	    	</div>
	    </div>
	    <div class="feed_ban" style="background: url(images/ad_02.png) no-repeat center;">
	    <div class="container">
	         <p class="feed_ban_big">移动推广的成功保证</p>
	         <p class="feed_ban_small">知渔移动广告平台的媒体链接，聚焦在高回报的ROI渠道资源。从媒介的选择，购买，投放，效果评估等流程，严控媒体质量。广告主只需根据自身投放需求，通过知渔智能投放平台，
即可达到高效的投放效果。
</p>
	   </div>
	    </div>

        <div class="ad1">
        <div class="container clearfix">
           <p class="about_tl">整合全球最优势的移动渠道资源</p>
           <div class="clearfix">
           	<div class="ad1_lf col-md-6 col-sm-12 col-xs-12 clearfix">
           		<div class="col-md-4 col-sm-4 col-xs-12 ad1_lf_con">
           			<img src="images/ad_05.png" />
           			<p>全球最大的<br />
效果移动广告平台</p>
           		</div>
           		<div class="col-md-4 col-sm-4 col-xs-12 ad1_lf_con">
           			<img src="images/ad_07.png" />
           			<p>全球最大的<br />
展示移动广告平台</p>
           		</div>
           		<div class="col-md-4 col-sm-4 col-xs-12 ad1_lf_con">
           			<img src="images/ad_09.png" />
           			<p>国内最大的
<br />
安卓分发市场</p>
           		</div>
           		<div class="col-md-4 col-sm-4 col-xs-12 ad1_lf_con">
           			<img src="images/ad_24.png" />
           			<p>增长最快的
<br />
移动广告平台</p>
           		</div>
           		<div class="col-md-4 col-sm-4 col-xs-12 ad1_lf_con">
           			<img src="images/ad_25.png" />
           			<p>国内最大的
<br />
广告聚合平台</p>
           		</div>
           		<div class="col-md-4 col-sm-4 col-xs-12 ad1_lf_con">
           			<img src="images/ad_26.png" />
           			<p>国内用户活跃度最高的
<br />
广告平台</p>
           		</div>
           	</div>
           	<div class="ad1_rt col-md-6 col-sm-12 col-xs-12">
           		<div class="ad1_rt_t">
           			<img src="images/yi_03.png" />
           		</div>
           		<div class="ad1_rt_b clearfix">
           			<div class="col-md-3 col-sm-3 col-xs-6 ad1_rt_b_con">
           				<img src="images/ad_22.png" />
           				<p class="ad1_rt_b_con_tl">7.5万</p>
           				<p class="ad1_rt_b_con_text">Apps</p>
           			</div>
           			<div class="col-md-3 col-sm-3 col-xs-6 ad1_rt_b_con">
           				<img src="images/ad_21.png" />
           				<p class="ad1_rt_b_con_tl">150万</p>
           				<p class="ad1_rt_b_con_text">每天广告投放</p>
           			</div>
           			<div class="col-md-3 col-sm-3 col-xs-6 ad1_rt_b_con">
           				<img src="images/ad_17.png" />
           				<p class="ad1_rt_b_con_tl">6亿</p>
           				<p class="ad1_rt_b_con_text">每天展示次数</p>
           			</div>
           			<div class="col-md-3 col-sm-3 col-xs-6 ad1_rt_b_con" style="border: none;">
           				<img src="images/ad_19.png" />
           				<p class="ad1_rt_b_con_tl">1亿</p>
           				<p class="ad1_rt_b_con_text">每月活跃用户</p>
           			</div>
           		</div>
           	</div>
           	
           </div>
        </div>
        
        
        </div>
        <div class="ad2">
        	<div class="container">
        		<p class="about_tl">高质量的投放效果</p>
        		<p class="about_text" style="text-align: center;">知渔广告平台通过大数据挖掘和第三方数据监控，同时整合知渔移动营销解决方案，确保广告主投放流程透明，有效的监控转化效果。
</p>
                <img src="images/ad_35.png" />
        	</div>
        </div>
       <div class="ad3">
       	
       	<div class="container">
       		        		<p class="about_tl">CPA和RTB：满足广告主需求，最大化ROI</p>
       		        		<div class="clearfix">
       		        			<div class="col-md-6 col-sm-12 col-xs-12 clearfix">
       		        				<div class="col-md-5 col-sm-6 col-xs-12" style="text-align: center;">
       		        					<p class="ad3_lf_tl">CPA</p>
       		        					<p class="ad3_lf_text">按行动付费</p>
       		        				</div>
       		        				<div class="col-md-7 col-sm-6 col-xs-12 ad3_rt">
       		        					<p>·&nbsp;100%契合广告主需求


</p>
       		        					<p>·&nbsp;多样化用户完成行为</p>
       		        					<p>·&nbsp;无媒体浪费，最大化ROI</p>
       		        					<p>·&nbsp;无任何作弊或刷机情况</p>
       		        				</div>
       		        			</div>
       		        		    <div class="col-md-6 col-sm-12 col-xs-12 clearfix">
       		        				<div class="col-md-5 col-sm-6 col-xs-12" style="text-align: center;">
       		        					<p class="ad3_lf_tl">RTB</p>
       		        					<p class="ad3_lf_text">实际竞价系统</p>
       		        				</div>
       		        				<div class="col-md-7 col-sm-6 col-xs-12 ad3_rt">
       		        					<p>·&nbsp;广告主自由竞价</p>
       		        					<p>·&nbsp;设置每天预算上限</p>
       		        					<p>·&nbsp;后台算法以竞价为基础</p>
       		        					<p>·&nbsp;确定offerwall展示顺序</p>
       		        				</div>
       		        			</div>
       		        		</div>
       	</div>
       </div>
	   <div class="ad4">
	   	<div class="container">
	   		<p class="about_tl">达成最优质的投放效果</p>
	   		<div class="clearfix">
	   		<div class="col-md-3 col-sm-6 col-xs-12">
	   			<img src="images/ad-16.png" />
	   			<p class="about_text">·&nbsp;跨屏投放PC+视频+移动
</p>
<p class="about_text">·&nbsp;包括所有数字展示广告类型
</p>
	   		</div>
	   		<div class="col-md-3 col-sm-6 col-xs-12">
	   			<img src="images/ad-15.png" />
	   			<p class="about_text">·&nbsp;独创人群类目体系
</p>
<p class="about_text">·&nbsp;拥有人群分析模型的独家专利
</p>
<p class="about_text">·&nbsp;单个用户啊标签6000+
</p>
	   		</div>
	   		<div class="col-md-3 col-sm-6 col-xs-12">
	   			<img src="images/ad9-14.png" />
	   			<p class="about_text">·&nbsp;只能出价算法最优


</p>
<p class="about_text">·&nbsp;竞价购买效率国内第一
</p>
<p class="about_text">·&nbsp;率先搭建Hadoop云计算平台
</p>
	   		</div>
	   		<div class="col-md-3 col-sm-6 col-xs-12">
	   			<img src="images/ad_39.png" />
	   			<p class="about_text">·&nbsp;国内首家引入领先广告环境技术


<p class="about_text">·&nbsp;保证品牌安全程度，可见度
</p>
<p class="about_text">·&nbsp;打造公开透明可持续发展的广告环境
</p>
	   		</div>
	   	    </div>
	   		</div>
	   </div>
       <div class="ad5">
       	<div class="container">
       	<p class="about_tl">捕获精准的潜在需求的客户</p>
       	<p class="about_text" style="margin-bottom: 2%;">使用知渔DMP平台，广告主可精准设置自己的用户受众条件。通过先进的大数据分析和聚类算法，广告主可以确保自己的投放广告被展示给特定受众人群：
</p>
<p class="about_text" style="text-indent: 2em;">人口属性：性别，年龄，地点，教育，收入，和其他.


</p>
<p class="about_text" style="text-indent: 2em;">移动行为：日常应用程序会话数，广告点击次数，活动时间，购买频率.
</p>
<p class="about_text" style="text-indent: 2em;">关联推荐：与投放广告相关联或与购买人群相关联进行推荐.
</p>
</div>
       </div>
        <div class="ad6">
        	<div class="container clearfix">
        		<div class="ad6_lf col-md-6 col-sm-6 col-xs-12">
        			<p class="about_tl" style="padding-top: 0px;text-align: left;padding-bottom: 25px;">数据平台</p>
        		    <p class="about_text" style="margin-bottom: 2%;">知渔提供可视化的数据平台，清晰展示投放数据。
</p>
                    <p class="ad6_lf_text">
                    	·&nbsp;直观的界面，很容易找到重点数据。
                    </p>
                    <p class="ad6_lf_text">
                    	·&nbsp;多种图表结构的数据展示效果。
                    </p>
                    <p class="ad6_lf_text">
                    	·&nbsp;几分钟之内反馈物料的投放效果
                    </p>
                    <p class="ad6_lf_text">
                    	·&nbsp;广告主可以快速及时地更新投放价格，
                    </p>
                    <p class="ad6_lf_text">
                    	·&nbsp;用最小的竞价成本获取更多展现机会
                    </p>
        		</div>
        	    <div class="ad6_rt col-md-6 col-sm-6 col-xs-12">
        	    	<img src="images/ad_57.png" />
        	    </div>
        	</div>
        </div>
        <div class="feed3" style="background: #f4f4f4;">
         <div class="container">
         <p class="feed3_con_tl" style="margin-top: 0px;margin-left: 15px;text-align: center;">合作伙伴</p>
         <ul class="clearfix partner">
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_61.png" />
         
         </li>
        <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_63.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_65.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_67.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_69.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_71.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_80.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_82.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_84.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_85.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_86.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_88.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad84.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_87.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_90.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_93.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_96.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_102.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad85.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_92.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_96-39.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_114.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_108.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad119.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_87-43.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_97.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/ad_105.png" />
         
         </li>
         </ul>
         </div>
         
         </div>
        <div class="ad7">
        	<div class="container">
        		<p class="about_tl">跟踪合作伙伴</p>
        		<p class="about_text">知渔广告平台集成了以下跟踪解决方案:
</p>
             <ul class="clearfix">
             	<li class="col-md-3 col-sm-3 col-xs-6">
             		<img src="images/ad_136.png" />
             	</li>
             	<li class="col-md-3 col-sm-3 col-xs-6">
             		<img src="images/ad_138.png" />
             	</li>
             	<li class="col-md-3 col-sm-3 col-xs-6">
             		<img src="images/ad_140.png" />
             	</li>
             	<li class="col-md-3 col-sm-3 col-xs-6">
             		<img src="images/ad_142.png" />
             	</li>
             	<li class="col-md-3 col-sm-3 col-xs-6">
             		<img src="images/ad_139.png" />
             	</li>
             	<li class="col-md-3 col-sm-3 col-xs-6">
             		<img src="images/ad_146.png" />
             	</li>
             	<li class="col-md-3 col-sm-3 col-xs-6">
             		<img src="images/ad_153.png" />
             	</li>
             	<li class="col-md-3 col-sm-3 col-xs-6">
             		<img src="images/ad_154.png" />
             	</li>
             </ul>
        	</div>
        </div>




              
	   
	  
	 
	    <div class="sy7">
	    	<div class="container clearfix">
	    		<div class="col-md-3 col-sm-3 col-xs-12 pnone" style="padding-left: 0px;">
	    			<p class="mine_name">我们是谁</p>
	    			<div class="sy7_logo">
	    				<img src="images/index_07.png">
	    			</div>
	    			<div>知渔广告平台整合了海量WAP网站和APP媒体资源，利用高效广告形式，结合先进定向技术，针对广告主需求，提供量身定制的移动互联网广告投放方案。</div>
	    		    <div class="clearfix">
	    		    	<a href="#" class="right">了解详情 →</a>
	    		    </div>
	    		</div>
	    	    <div class="col-md-9 col-sm-9 col-xs-12 pnone phone" style="padding-right: 0px;">
	    	    	<p class="mine_name">联系我们</p>
	    	    	<div style="margin-bottom: 20px;">知渔移动广告平台在全球主要市场设有办事处，服务于我们的客户和我们的媒体合作伙伴。我们对当地的市场动态、媒体资源及受众了解，以确保我们的客户在他们的移动营销投资上得到一个特殊的回报。</div>
	    	        <div class="clearfix">
	    	        	<div class="col-md-8 col-sm-8 col-xs-12 pnone phone">
	    	        		<p class="place">地址：北京市通州区新仓路25号2单元5层502号</p>
	    	        		<p class="tel">电话：010-69513939</p>
	    	        		<p class="email">邮箱：service@zhiyu001.com</p>
	    	        	</div>
	    	        	<div class="col-md-4 col-sm-4 col-xs-12 pnone ew clearfix">
	    	        		<div class="ew_con">
	    	        			<img src="images/index_81.png">
	    	        			<p>关注“知渔科技”</p>
	    	        		</div>
	    	        	</div>
	    	        </div>
	    	    </div>
	    	</div>
	    </div>
	    <div class="footer">
	    	<div class="container clearfix">
	    		<div class="col-md-6 col-sm-6 col-xs-12 pnone" style="padding-left: 0px;">
	    			© Copyright @2016-2018  知渔科技 All Rights Reserved
	    		</div>
	    		<div class="col-md-6 col-sm-6 col-xs-12 pnone clearfix" style="padding-right: 0px;">
	    			<div class="foot_a">
	    				<a href="#">关于我们        </a>
	    				<a href="#">联系我们</a>
	    				<a href="#">微信平台</a>
	    			</div>
	    		</div>
	    	</div>
	    </div>
		<!--成功-->
		<div class="alert success_alert">
			<em class="cha"></em>
			<img src="images/tjgg_03.jpg" />
			<p>已成功发送!</p>
		</div>


		<div class="huibg">  </div>
		<!--登录-->
		<div class="alert login_alert" id="login">
			<div class="alert_img">
				<img src="images/lg_03.jpg" />
			</div>
			<form id="login_alert">
				<div class="lg_gp clearfix">
					<img src="images/lg07.jpg" class="left" />
					<div class="lg_input">
						<input type="text" name="email" placeholder="邮箱地址" />
					</div>
				</div>
				<div class="erro" id="loginEmail" style="display:none;">请输入正确的邮箱</div>
				<div class="lg_gp clearfix">
					<img src="images/lg08.jpg" class="left" />
					<div class="lg_input">
						<input type="password" name="password" placeholder="密码" />
					</div>
				</div>
				<div class="erro" id="loginPassword" style="display:none;">请输入密码</div>
				<div class="lg_btn">
					<input type="button" value="登录" onclick="login()"/>
				</div>
				<div class="clearfix lg_link">
					<a href="javascript:;" class="left ljzc">立即注册 >></a>
					<a href="javascript:;" class="right wangmi">忘记密码？</a>
				</div>
			</form>
		</div>
		<!-- 注册-->
		<div class="alert rg_alert">
			<div class="alert_img">
				<img src="images/lg_03.jpg" />
			</div>
			<form id="rg_alert" action="/register">
				<div class="lg_gp clearfix">
					<img src="images/lg03.jpg" class="left" />
					<div class="lg_input">
						<input type="text" name="username" placeholder="用户名"/>
					</div>
				</div>
				<div class="erro" id="regUsername" style="display: none">请输入正确的用户名</div>
				<div class="lg_gp clearfix">
					<img src="images/lg07.jpg" class="left" />
					<div class="lg_input">
						<input type="text" name="email" placeholder="邮箱地址" />
					</div>
				</div>
				<div class="erro" id="regEmail" style="display: none">请输入邮箱</div>
				<div class="lg_gp clearfix">
					<img src="images/lg08.jpg" class="left" />
					<div class="lg_input">
						<input type="password" name="password" placeholder="输入密码" />
					</div>
				</div>
				<div class="erro" id="regPassword"style="display: none">请输入密码</div>
				<div class="lg_gp clearfix">
					<img src="images/lg_10.jpg" class="left" />
					<div class="lg_input">
						<input type="password" name="Confirmpassword" placeholder="确认密码" />
					</div>
				</div>

				<div class="erro" id="regConfirmPassword" style="display: none">请输入相同密码</div>
				<div class="lg_btn">
					<input type="button" value="注册" onclick="register()"/>
				</div>
				<div class="clearfix lg_link">
					<a href="javascript:;" class="left yiyou">已有账号，快速登录</a>
				</div>
			</form>
		</div>
		<!--找回密码-->
		<div class="alert find_alert">
			<div class="alert_img">
				<img src="images/lg_03.jpg" />
			</div>
			<form id="find_alert">
				<div class="lg_gp clearfix">
					<img src="images/lg07.jpg" class="left" />
					<div class="lg_input">
						<input type="text" name="email" placeholder="邮箱地址" />
					</div>
				</div>
				<div class="tishi">请输入邮箱，我们会发送重置密码链接到您的邮箱</div>
				<div class="erro" id="findPassword" style="display: none">请输入正确的邮箱</div>

				<div class="lg_btn">
					<input type="button" value="确定" onclick="findPassword()"/>
				</div>
				<div class="clearfix lg_link">
					<a href="javascript:;" class="left yiyou">已有账号，快速登录</a>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="js/index.js" ></script>
	   
	     <script type="text/javascript" src="js/head.js" ></script>
	</body>
</html>
