<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>财务</title>
		<link rel="stylesheet" href="css/init.css" />
		<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />
		<link rel="stylesheet" href="css/houtai.css" />
		<script type="text/javascript" src="js/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="js/select.js"></script>
		<script>
			//获取查询时间
			function getLastDay(past){
				//  alert("past="+past);
				$.ajax({
					type:"GET",
					url:"/getLastDay",
					dataType:"json",
					data:"past="+past,
					success:function(data) {
						//alert("data="+data)
						//alert("day="+data.day);
						//alert("pastDay="+data.pastDay);
						document.getElementById("datepicker").value=data.pastDay;
						document.getElementById("datepicker1").value=data.day;
						if(past=="0") {
							document.getElementById("day0").className = "ahover";
							document.getElementById("day1").className = "";
							document.getElementById("day7").className = "";
							document.getElementById("day30").className = "";
						}
						if(past=="1"){
							document.getElementById("day1").className="ahover";
							document.getElementById("day0").className="";
							document.getElementById("day7").className="";
							document.getElementById("day30").className="";
						}
						if(past=="7"){
							document.getElementById("day7").className="ahover";
							document.getElementById("day0").className="";
							document.getElementById("day1").className="";
							document.getElementById("day30").className="";
						}
						if(past=="30"){
							document.getElementById("day30").className="ahover";
							document.getElementById("day0").className="";
							document.getElementById("day1").className="";
							document.getElementById("day7").className="";
						}
					}
				});
			}
			//根据查询时间查找数据
			function search(){
				alert("search");
				var startDate=document.getElementById("datepicker").value;
				var endDate=document.getElementById("datepicker1").value;
				alert("startDate="+startDate);
				alert("endDate="+endDate);
				$.ajax({
					type:"GET",
					url:"/searchForGaiKuang",
					dataType:"json",
					data:"startDate="+sratrDate+"&endDate="+endDate,
					success:function(data) {
						alert("data="+data);
					}
				});
			}
		</script>
	</head>

	<body>
		<div class="tj_main">
			<div class="tj_main_lf">
				<div class="tj_main_lf_tl clearfix">
					<img src="images/gaikuang_03.png" />

				</div>
				<div class="tj_main_lf_tx">
					<div class="tj_main_lf_tx_main">
						<a href="per.html">
						<img src="images/tx.jpg" />
						</a>
					</div>
					<div class="tj_main_lf_text">
						<p class="per_a">
							<a href="per.html"><span th:text="${userName}"></span>
						</p>
						
					</div>
				</div>
				<div class="tj_main_lf_menu">

					<ul>
						<li>
							<a href="gaikuang.html" class="clearfix">
								<div class="left">
									<img src="images/gaikuang-06.png" /> 概况
								</div>
								<em class="right"></em>
							</a>
						</li>
						<li>
							<a href="tuiguang.html" class="clearfix">
								<div class="left">
									<img src="images/gaikuang_25.png" /> 推广计划
								</div>
								<em class="right"></em>
							</a>
						</li>
						<li>
							<a href="guanggao.html" class="clearfix">
								<div class="left">
									<img src="images/gaikuang_42.png" /> 创意广告
								</div>
								<em class="right"></em>
							</a>
						</li>
						<li>
							<a href="caiwu.html" class="clearfix ahover">
								<div class="left">
									<img src="images/gaikuang_49.png" /> 财务
								</div>
								<em class="right"></em>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="tj_main_rt">
				<div class="tj_main_rt_con">
					<div class="tj_main_rt_tl clearfix">
						<em class="tj_head_btn left"></em>
						<a href="/signout" class="tj_out right" >注销</a>
						<div class="right clearfix tj_head_tx">
							<a href="per.html">
							<img src="images/tx.jpg" class="left" />
							</a>
							<span class="left"><a href="per.html"><span th:text="${userName}"></span></a></span>
							<span class="left head_link"><a href="index.html">返回</a></span>
							<!--<span class="left head_link"><a href="feed.html">媒体主</a></span>-->
						</div>
					</div>

					<div class="gankuang_two" style="margin-top: 20px;">
						<div class="caiwu_tl clearfix">
							<a href="javascript:;" class="ahover"><span>财务记录</span></a>
							<a href="javascript:;"><span>充值</span></a>
						</div>
						<div class="caiwu_main">
							<div class="caiwu_con active">
								<div class="gankuang_two_con">
									<div class="clearfix caiwu_one">
										<div class="left caiwu_one_lf">
											<p class="tj_suoming" style="margin-left: 0px;">
												统计说明：今日花费数据可能会在次日核算后有变动，历史花费数据已累计更新至2016-11-05 23:59.
											</p>
											<div class="caiwu_huaifei">
												<span>现金账户余额：<span th:text="${ad_account_money}"></span> 元</span>
												<span>历史花费：<span th:text="${historical_cost}"></span>元</span>
												<span>今日花费：<span th:text="${today_cost}"></span>元</span>
											</div>
										</div>
										<div class="left caiwu_one_rt">
											<p>近 <span class="color_lan">7 </span>日消费（元）</p>
											<p class="caiwu_one_rt_num"><span th:text="${seven_day_cost}"></span></p>
										</div>
									</div>
									<div class="clearfix gankuang_two_tl caiwu_two">
										<a href="javascript:void(0)" onClick="getLastDay('0')" id="day0" class="ahover">今天</a>
										<a href="javascript:void(0)" onClick="getLastDay('1')" id="day1"  >昨天</a>
										<a href="javascript:void(0)" onClick="getLastDay('7')" id="day7" >过去7天</a>
										<a href="javascript:void(0)" onClick="getLastDay('30')" id="day30" >过去30天</a>
										<input type="text" class="left rili" id="datepicker" th:value="${day}"/>
										<span class="left zhi">至</span>
										<input type="text" class="left rili" id="datepicker1" th:value="${day}"/>
										<input type="button" class="left" value="查询" onclick="search()"/>
										<a href="#" class="right down">下载报表</a>
									</div>
									<p class="caiwu_leiji">
										查询区间内，累计充值 <span>1200.00</span> 元，累计花费<span> 1200.00 </span>元
									</p>
									<div class="caiwu_table">
										<table cellpadding="0px" cellspacing="0px" width="100%">
											<tr>
												<th>操作日期</th>
												<th>
													<div class="jiaoy">
														<div class="model-select-box">
															<div class="model-select-text" data-value="1">交易类型</div>
															<ul class="model-select-option" style="display: none;">
																<li data-option="1" class="seleced data-selected">交易类型</li>
																<li data-option="2">充值</li>
																<li data-option="3">消耗</li>
															</ul>
														</div>
													</div>
												</th>
												<th>交易金额（元）</th>
												<th>说明</th>
											</tr>
										 <tr th:each="financial:${financialList}" name="FinancialStatusByChange" th:value="${financial.getType()}">
												<td><span th:text="${financial.getCreatetime()}"></span></td>
												<td><span th:if="${'1'==financial.getType()}">充值</span><span th:if="${'0'==financial.getType()}">消费</span></td>
												<td><span th:text="${financial.getMoney()}"></span></td>
												<td><span th:text="${financial.getDescription()}"></span></td>
											</tr>
										</table>
										<div class="clearfix table_page">
											<span class="left table_page_lf">显示 1-10 条数据 ；总记录数为 36 条</span>
											<div class="right table_page_rt">
												<a href="#" style="background: #6495ed;color: #fff;">&lt;</a>
												<a href="#">1</a>
												<a href="#">2</a>
												<a href="#">3</a>
												<a href="#">4</a>
												<a href="#">5</a>
												<a href="#">6</a>
												<a href="#">...</a>
												<a href="#">31</a>
												<a href="#" style="background: #6495ed;color: #fff;">&gt;</a>

											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="caiwu_con">
								<div class="gankuang_two_con">
									<div class="caiwu_one">

										<!--未通过审核-->
										<!--<p class="tj_suoming" style="margin-left: 0px;">
								您的账户尚未审核通过，暂时无法查看充值的账号信息。
							</p>-->
										<!--已通过审核-->
										<p class="tj_suoming" style="margin-left: 0px;">
											知渔广告平台目前仅支持银行卡、微信、支付宝转账。请在转账备注中写明公司或者个人名称。转账完成后请联系商务同学核对。
										</p>
										<div class="chongzhi">
											<p class="chongzhi_lianxi">
												商务联系方式:
											</p>
											<div class="chongzhi_lianxi_con">
												<span>
							    			<img src="images/chongzhi_03.png" />QQ：12356985 
							    		</span>
												<span>
							    			<img src="images/chongzhi_05.png" />微信：15695265412
							    		</span>
												<span>
							    			<img src="images/chongzhi_11.png" />商务邮箱：1256859@163.com   
							    		</span>
												<span>
							    			<img src="images/chongzhi_12.png" />联系电话：15629526210
							    		</span>
											</div>
											<ul class="clearfix chongzhi_ul">
												<li>
													<div class="chongzhi_ul_main">
														<img src="images/chongzhi_20.png" />
														<p class="chongzhi_name">银行卡</p>
														<div class="chongzhi_mess">
															<p>开户行：中国工商银行人民路支行</p>
															<p>开户行所在地：北京</p>
															<p>开户名：张三</p>
															<p>账号：6222 0215 9856 2412</p>
														</div>
													</div>
												</li>
												<li>
													<div class="chongzhi_ul_main">
														<img src="images/chongzhi_19.png" />
														<p class="chongzhi_name">微信</p>
														<div class="chongzhi_mess">
															<p>微信账号：15269565231</p>
															<p>微信名称：张三</p>
														</div>
													</div>
												</li>
												<li>
													<div class="chongzhi_ul_main">
														<img src="images/chongzhi_22.png" />
														<p class="chongzhi_name">支付宝</p>
														<div class="chongzhi_mess">
															<p>支付宝账号：15269632541</p>
															<p>支付宝名称：张三</p>
														</div>
													</div>
												</li>
											</ul>
										</div>

									</div>

								</div>
							</div>
						</div>
					</div>

					<div class="banquan">© Copyright @2016-2018 广州真境信息科技有限公司 All Rights Reserved</div>
				</div>
			</div>
			<script type="text/javascript" src="js/houtai.js"></script>
			<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
			<script type="text/javascript" src="js/bootstrap-datepicker.zh-CN.js"></script>
			<script type="text/javascript">
				$('#datepicker').datepicker({
					show: true,
					format: 'yyyy-mm-dd',
					language: 'zh-CN',
					weekStart: 1,
					autoclose: true,
					todayHighlight: true,
					todayBtn: 'linked'

				});
				$('#datepicker1').datepicker({
					show: true,
					format: 'yyyy-mm-dd',
					language: 'zh-CN',
					weekStart: 1,
					autoclose: true,
					todayHighlight: true,
					todayBtn: 'linked'

				});
			</script>
	</body>

</html>