<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1,  user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset="utf-8" />
		<title>媒体主</title>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/init.css" />
		<link rel="stylesheet" href="css/menu.css" />
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/jquery-2.1.4.min.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		 <!--[if lt IE 9]>
      <script src="js/respond.src.js"></script>
           <!--<![endif]-->
		<script>
			//注册js
			function register(){
				//alert("register");
				var _form = document.getElementById("rg_alert");
				var _inputs = _form.getElementsByTagName("input");
				var email;
				var password;
				var Confirmpassword;
				var username;
				var path="/register";
				var flagEmail=true;
				var flagPassword=true;
				var flagUsername=true;
				var flagConfirmPassword=true;

				for (var i = 0; i < _inputs.length; i++) {
					if(_inputs[i].name.toString()=="email"){
						email=_inputs[i].value;
						if(email==null){
							flagEmail=false;
						}  else{
							if(email.indexOf("@")<=-1){
								flagEmail=false;
							}
						}
					}
					if(_inputs[i].name.toString()=="password"){
						password=_inputs[i].value;
						if(password==null||password==""){
							flagPassword=false;
						}
					}
					if(_inputs[i].name.toString()=="Confirmpassword"){
						Confirmpassword=_inputs[i].value;
						if(Confirmpassword==null||Confirmpassword==""){
							flagConfirmPassword=false;
						}if(password!=Confirmpassword){
							flagConfirmPassword=false;
						}
					}
					if(_inputs[i].name.toString()=="username"){
						username=_inputs[i].value;
						if(username==null||username==""){
							flagUsername=false;
						}
					}
				}
				//alert("flagPassword="+flagPassword);
				//alert("flagEmail="+flagEmail);
				if(flagEmail==false){
					document.getElementById("regEmail").style.display="";
					document.getElementById("regEmailExist").style.display = "none";
				}else{
					document.getElementById("regEmail").style.display="none";
					var ss=document.getElementById("regEmailExist").style.display;
					if(ss==""){
						flagEmail=false;
					}
				}
				if(flagPassword==false){
					document.getElementById("regPassword").style.display="";
				}else{
					document.getElementById("regPassword").style.display="none";
				}
				if(flagUsername==false){
					document.getElementById("regUsername").style.display="";
				}else{
					document.getElementById("regUsername").style.display="none";
				}
				if(flagConfirmPassword==false){
					document.getElementById("regConfirmPassword").style.display="";
				}else{
					document.getElementById("regConfirmPassword").style.display="none";
				}
				if(flagEmail&&flagPassword&&flagUsername&&flagConfirmPassword) {
					_form.action = path + "?email=" + email + "&password=" + password+"&username="+username;
					_form.submit();
				}
			}
			//检验注册邮箱js
			function check(flag){
				// alert("checkEmail");
				if(flag=="regEmail") {
					var email = document.getElementById("checkEmail").value;
				}
				if(flag=="findPassword") {
					var email = document.getElementById("findPasswordEmail").value;
				}
				// alert("email="+email);
				$.ajax({
					type:"GET",
					url:"/checkEmail",
					dataType:"json",
					data:"email="+email,
					success:function(data) {
						// alert("userId="+data.userId);
						if (data.userId != null&& data.userId != "") {
							if(flag=="regEmail") {
								document.getElementById("regEmailExist").style.display = "";
								document.getElementById("regEmail").style.display="none";
							}else if(flag=="findPassword"){
								document.getElementById("findPasswordExist").style.display = "none";
							}
						} else{
							if(flag=="regEmail") {
								document.getElementById("regEmailExist").style.display = "none";
							}else if(flag=="findPassword"){
								document.getElementById("findPasswordExist").style.display = "";
								document.getElementById("findPassword").style.display = "none";
							}
						}
					}
				});
			}
			//找回密码js
			function findPassword(){
				//alert("findPassword");
				var _form = document.getElementById("find_alert");
				var _inputs = _form.getElementsByTagName("input");
				var email;
				var path="/findPassword";
				var flagEmail=true;
				for (var i = 0; i < _inputs.length; i++) {
					if(_inputs[i].name.toString()=="email"){
						email=_inputs[i].value;
						if(email==null){
							flagEmail=false;
						}  else{
							if(email.indexOf("@")<=-1){
								flagEmail=false;
							}
						}

					}
				}
				//alert("flagPassword="+flagPassword);
				//alert("flagEmail="+flagEmail);
				if(flagEmail==false){
					document.getElementById("findPassword").style.display="";
					document.getElementById("findPasswordExist").style.display = "none";
				}else{
					document.getElementById("findPassword").style.display="none";
					var findPasswordExistFlag=document.getElementById("findPasswordExist").style.display;
					if(findPasswordExistFlag==""){
						flagEmail=false;
					}
				}
				if(flagEmail) {
					$(".find_alert").hide();
					$(".success_alert").show();
					setTimeout(function(){
						_form.action = path + "?email=" + email;
						_form.submit();
					},200);
				}

			}
		</script>


	</head>
	<body>
		<div class="head">
			<div class="container clearfix">
			<div class="right">
				  <span  th:if="${#lists.isEmpty(loginStatus)}">
				<!--登录前-->
				<a href="javascript:;" class="left lgbtn">登录</a>
				<span class="left">&nbsp;|&nbsp;</span>
				<a href="javascript:;" class="left regbtn">注册</a>
                </span>

				<span  th:if="${not #lists.isEmpty(loginStatus)}">
				<!--登录后-->
				<div class="left login_hou">
					<p class="login_per">
						<a href="#"><span th:text="${userName}"></span></a>
					</p>
					<div class="login_hou_yin">
						<p>
							<a href="gaikuang.html" class="out">广告平台</a>
						</p>
                        <p>
							<a href="#" class="out">媒体平台</a>
						</p>
                        <p>
							<a href="/signout" class="out">退出</a>
						</p>
					</div>
				</div>
                 </span>
				<div class="left language clearfix">
					<div class="clearfix lang"><span class="left">简体中文</span><em class="left"></em></div>
					<div class="language_con">
						<p>
							<a href="#">English</a>
						</p>
						<p>
							<a href="#">简体中文</a>
						</p>
					</div>
				</div>
			</div>
			</div>
		</div>
	    <div class="menu">
	    	<div class="container clearfix">
	    		<a href="#" class="left logo">
	    			<img src="images/index_07.png" />
	    		</a>
	    		<div class="right col-md-5 col-sm-6 col-xs-4 menu_main">
	    			<nav class="navbar navbar-default equinav" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">Menu</span>
				</div>
				<!-- /.navbar-header -->
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav clearfix">
						<li><a href="index.html">
							+ 首页                                                                                                     
						</a></li>
						<li><a href="ad.html">
							+ 广告主                
						</a></li>
						<li><a href="feed.html" class="ahover">
							+ 媒体主
						</a></li>
						<li><a href="about.html">
							+ 关于我们
						</a></li>
						
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
	    		</div>
	    	</div>
	    </div>
	    <div class="feed_ban">
	    <div class="container">
	         <p class="feed_ban_big">全球顶级媒体商业化</p>
	         <p class="feed_ban_small">在全球近50个国家，1000多个广告主，知渔广告平台可以帮助媒体获得最高的广告推广需求。<br/>我们懂媒体，更懂商业化。通过智能平台让媒体拥有更多客户，更多效益，更多选择。</p>
	   </div>
	    </div>
	    <div class="feed1">
	     <div class="container clearfix">
	    <div class="col-md-6 col-sm-6 col-xs-12 feed1_con">
	             <span style="color: #0093dd;">便利高价</span>的移动流量变现方式
	             <img src="images/feed_08.png" />
	    </div>
	    <div class="col-md-6 col-sm-6 col-xs-12 feed1_con">
	             <span style="color: #0093dd;">毫秒极</span>的广告送达&nbsp;保障每次的曝光收益
	             <img src="images/feed_05.png" />
	    </div>
	     <div class="col-md-6 col-sm-6 col-xs-12 feed1_con">
	             <span style="color: #0093dd;">丰富的</span>广告展现形式  横幅广告、插屏广告、开屏广告、原生广告
	             <img src="images/feed-05.png" />
	    </div>
	     <div class="col-md-6 col-sm-6 col-xs-12 feed1_con">
	            最先进的 <span style="color: #0093dd;">技术整合</span>（API,SDK,JS）毫秒极
	             <img src="images/feed_12.png" />
	    </div>
	    </div>
	    </div>
        <div class="feed2">
        <div class="container clearfix">
           <div class="col-md-6 col-sm-6 col-xs-12 feed2_con">
                            <p>知渔移动广告核心价值</p>
                            <img src="images/niao_06.png" />
           
           </div>
           <div class="col-md-6 col-sm-6 col-xs-12 feed2_con">
                            <p>可采用不同的方式进行更有针对性的定位</p>
                            <img src="images/niao_03.png" />
           
           </div>
        
        </div>
        
        </div>
        <div class="feed3">
        <div class="container clearfix">
        <div class="col-md-7 col-sm-7 col-xs-12 feed3_con_text clearfix">
        <p class="feed3_con_tl">丰富的广告形式，提高CTR, 驱动收入增长</p>
        <p class="feed3_con_text_con">我们提供了多种广泛丰富的广告展现格式，结合智能定位技术，帮助媒体流量获取更好的广告填充，以最大限度地提高转换和收入。</p>
        
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 clearfix feed3_con_img">
                  <img src="images/feed_29.png" />
        </div>
        </div>
        </div>
        <div class="feed2">
        <div class="container clearfix">
          <div class="col-md-6 col-sm-6 col-xs-12">
           <p class="feed3_con_tl feed4_con_tl">知渔媒体链接的自助发布平台为您提供了极致的控制</p>
        <p class="feed3_con_text_con">·&nbsp;直观的界面，很容易找到理想的运动<br />
·&nbsp;轻松控制你的广告投放<br />
·&nbsp;透明的指标让你知道<br />
·&nbsp;快速、准确的安心的支出</p>
          
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 clearfix feed4_con_img">
                  <img src="images/feed_32.png" />
        </div>
        
        </div>
        
        </div>
	   <div class="feed3">
	        <div class="container clearfix">
	        <div class="col-md-6 col-sm-6 col-xs-12 feed5_text">
	        <p class="feed3_con_tl">下载知渔科技媒体链接的SDK</p>
	        <p class="feed3_con_text_con">·&nbsp;最轻的移动广告SDK<br>
·&nbsp;快速和易于整合<br>
·&nbsp;包括所有知渔媒体链接广告单元<br>
·&nbsp;定期更新和优化</p>
	        <div class="anniu">
	        <a href="#">Android Download</a>
	        <a href="#">IOS  Download</a>
	        </div>
	        </div>
	        <div class="col-md-6 col-sm-6 col-xs-12 feed5_img">
	                   <img src="images/feed_36.png" />
	        </div>
	        </div>
	    
	   </div>
        <div class="feed6">
        <div class="container">
        <p class="feed3_con_tl">移动广告的成功团队</p>
        <p class="feed3_con_text_con" style="margin-bottom: 15px;">知渔媒体链接给媒体主带来全球广告投放需求的商业化选择，本地化的物料管理和技术支持。</p>
        <p class="feed3_con_text_con">·&nbsp;专门的客户经理确保最佳的沟通渠道<br>
·&nbsp;具备专业的行业知识，满足客户服务需求<br>
·&nbsp;投放策略可结合媒体连接类型，以推动高回报价值<br>
·&nbsp;广告平台的有效性，带来了持续稳定的收入增长</p>
        </div>
        
        </div>
         <div class="feed3">
         <div class="container">
         <p class="feed3_con_tl" style="margin-top: 0px;margin-left: 15px;">合作伙伴</p>
         <ul class="clearfix partner">
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_42.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_44.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_46.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_48.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_50.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_52.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_60.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_61.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_62.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_63.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed63.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_64.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_74.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_75.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_76.png" />
         
         </li>
         <li class="col-md-2 col-sm-2 col-xs-4">
           <img src="images/feed_77.png" />
         
         </li>
         </ul>
         </div>
         
         </div>





              
	   
	  
	 
	    <div class="sy7">
	    	<div class="container clearfix">
	    		<div class="col-md-3 col-sm-3 col-xs-12 pnone" style="padding-left: 0px;">
	    			<p class="mine_name">我们是谁</p>
	    			<div class="sy7_logo">
	    				<img src="images/index_07.png">
	    			</div>
	    			<div>知渔广告平台整合了海量WAP网站和APP媒体资源，利用高效广告形式，结合先进定向技术，针对广告主需求，提供量身定制的移动互联网广告投放方案。</div>
	    		    <div class="clearfix">
	    		    	<a href="#" class="right">了解详情 →</a>
	    		    </div>
	    		</div>
	    	    <div class="col-md-9 col-sm-9 col-xs-12 pnone phone" style="padding-right: 0px;">
	    	    	<p class="mine_name">联系我们</p>
	    	    	<div style="margin-bottom: 20px;">知渔移动广告平台在全球主要市场设有办事处，服务于我们的客户和我们的媒体合作伙伴。我们对当地的市场动态、媒体资源及受众了解，以确保我们的客户在他们的移动营销投资上得到一个特殊的回报。</div>
	    	        <div class="clearfix">
	    	        	<div class="col-md-8 col-sm-8 col-xs-12 pnone phone">
	    	        		<p class="place">地址：北京市通州区新仓路25号2单元5层502号</p>
	    	        		<p class="tel">电话：010-69513939</p>
	    	        		<p class="email">邮箱：service@zhiyu001.com</p>
	    	        	</div>
	    	        	<div class="col-md-4 col-sm-4 col-xs-12 pnone ew clearfix">
	    	        		<div class="ew_con">
	    	        			<img src="images/index_81.png">
	    	        			<p>关注“知渔科技”</p>
	    	        		</div>
	    	        	</div>
	    	        </div>
	    	    </div>
	    	</div>
	    </div>
	    <div class="footer">
	    	<div class="container clearfix">
	    		<div class="col-md-6 col-sm-6 col-xs-12 pnone" style="padding-left: 0px;">
	    			© Copyright @2016-2018  知渔科技 All Rights Reserved
	    		</div>
	    		<div class="col-md-6 col-sm-6 col-xs-12 pnone clearfix" style="padding-right: 0px;">
	    			<div class="foot_a">
	    				<a href="#">关于我们        </a>
	    				<a href="#">联系我们</a>
	    				<a href="#">微信平台</a>
	    			</div>
	    		</div>
	    	</div>
	    </div>
		<div class="alert success_alert">
			<em class="cha"></em>
			<img src="images/tjgg_03.jpg" />
			<p>已成功发送!</p>
		</div>


		<div class="huibg">  </div>
		<!--登录-->
		<div class="alert login_alert" id="login">
			<div class="alert_img">
				<img src="images/lg_03.jpg" />
			</div>
			<form id="login_alert">
				<div class="lg_gp clearfix">
					<img src="images/lg07.jpg" class="left" />
					<div class="lg_input">
						<input type="text" name="email" placeholder="邮箱地址" />
					</div>
				</div>
				<div class="erro" id="loginEmail" style="display:none;">请输入正确的邮箱</div>
				<div class="lg_gp clearfix">
					<img src="images/lg08.jpg" class="left" />
					<div class="lg_input">
						<input type="password" name="password" placeholder="密码" />
					</div>
				</div>
				<div class="erro" id="loginPassword" style="display:none;">请输入密码</div>
				<div class="lg_btn">
					<input type="button" value="登录" onclick="login()"/>
				</div>
				<div class="clearfix lg_link">
					<a href="javascript:;" class="left ljzc">立即注册 >></a>
					<a href="javascript:;" class="right wangmi">忘记密码？</a>
				</div>
			</form>
		</div>
		<!-- 注册-->
		<div class="alert rg_alert">
			<div class="alert_img">
				<img src="images/lg_03.jpg" />
			</div>
			<form id="rg_alert" action="/register">
				<div class="lg_gp clearfix">
					<img src="images/lg03.jpg" class="left" />
					<div class="lg_input">
						<input type="text" name="username" placeholder="用户名"/>
					</div>
				</div>
				<div class="erro" id="regUsername" style="display: none">请输入正确的用户名</div>
				<div class="lg_gp clearfix">
					<img src="images/lg07.jpg" class="left" />
					<div class="lg_input">
						<input type="text" name="email" placeholder="邮箱地址" id="checkEmail" onchange="check('regEmail')"/>
					</div>
				</div>
				<div class="erro" id="regEmail" style="display: none">请输入邮箱</div>
				<div class="erro" id="regEmailExist" style="display: none">此邮箱已经被注册,请输入新邮箱</div>
				<div class="lg_gp clearfix">
					<img src="images/lg08.jpg" class="left" />
					<div class="lg_input">
						<input type="password" name="password" placeholder="输入密码" />
					</div>
				</div>
				<div class="erro" id="regPassword"style="display: none">请输入密码</div>
				<div class="lg_gp clearfix">
					<img src="images/lg_10.jpg" class="left" />
					<div class="lg_input">
						<input type="password" name="Confirmpassword" placeholder="确认密码" />
					</div>
				</div>

				<div class="erro" id="regConfirmPassword" style="display: none">请输入相同密码</div>
				<div class="lg_btn">
					<input type="button" value="注册" onclick="register()"/>
				</div>
				<div class="clearfix lg_link">
					<a href="javascript:;" class="left yiyou">已有账号，快速登录</a>
				</div>
			</form>
		</div>
		<!--找回密码-->
		<div class="alert find_alert">
			<div class="alert_img">
				<img src="images/lg_03.jpg" />
			</div>
			<form id="find_alert">
				<div class="lg_gp clearfix">
					<img src="images/lg07.jpg" class="left" />
					<div class="lg_input">
						<input type="text" id="findPasswordEmail"  name="email" placeholder="邮箱地址" onchange="check('findPassword')"/>
					</div>
				</div>
				<div class="tishi">请输入邮箱，我们会发送重置密码链接到您的邮箱</div>
				<div class="erro" id="findPassword" style="display: none">请输入正确的邮箱</div>
				<div class="erro" id="findPasswordExist" style="display: none">您输入的注册邮箱不存在,请重新输入</div>

				<div class="lg_btn">
					<input type="button" value="确定" onclick="findPassword()"/>
				</div>
				<div class="clearfix lg_link">
					<a href="javascript:;" class="left yiyou">已有账号，快速登录</a>
				</div>
			</form>
		</div>
	    <script type="text/javascript" src="js/index.js" ></script>
	   
	   <script type="text/javascript" src="js/head.js" ></script>
	</body>
</html>
