<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>广告内容</title>
		<link rel="stylesheet" href="css/init.css" />
		<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />
		<link rel="stylesheet" href="css/houtai.css" />
		<script type="text/javascript" src="js/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="js/select.js"></script>
	</head>

	<body>
		<div class="tj_main">
			<div class="tj_main_lf">
				<div class="tj_main_lf_tl clearfix">
					<img src="images/gaikuang_03.png" />

				</div>
				<div class="tj_main_lf_tx">
					<div class="tj_main_lf_tx_main">
						<a href="per.html">
							<img src="images/tx.jpg" />
						</a>
					</div>
					<div class="tj_main_lf_text">
						<p class="per_a">
							<a href="per.html">
								John Smith
							</a>
						</p>

					</div>
				</div>
				<div class="tj_main_lf_menu">

					<ul>
						<li>
							<a href="gaikuang.html" class="clearfix">
								<div class="left">
									<img src="images/gaikuang-06.png" /> 概况
								</div>
								<em class="right"></em>
							</a>
						</li>
						<li>
							<a href="tuiguang.html" class="clearfix">
								<div class="left">
									<img src="images/gaikuang_25.png" /> 推广计划
								</div>
								<em class="right"></em>
							</a>
						</li>
						<li>
							<a href="guanggao.html" class="clearfix ahover">
								<div class="left">
									<img src="images/gaikuang_42.png" /> 创意广告
								</div>
								<em class="right"></em>
							</a>
						</li>
						<li>
							<a href="caiwu.html" class="clearfix">
								<div class="left">
									<img src="images/gaikuang_49.png" /> 财务
								</div>
								<em class="right"></em>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="tj_main_rt">
				<div class="tj_main_rt_con">
					<div class="tj_main_rt_tl clearfix">
						<em class="tj_head_btn left"></em>
						<a href="#" class="tj_out right" onclick="">注销</a>
						<div class="right clearfix tj_head_tx">
							<a href="per.html">
							<img src="images/tx.jpg" class="left" />
							</a>
							<span class="left"><a href="per.html">John Smith</a></span>
							<span class="left head_link"><a href="index.html">首页</a></span>
							<span class="left head_link"><a href="feed.html">媒体主</a></span>
						</div>
					</div>

					<div class="gankuang_two" style="margin-top: 20px;">
						<div class="caiwu_tl clearfix">
							<a href="javascript:;" class="ahover"><span>新建广告</span></a>
							<a href="gg_dingx.html" class="right xinjian blubtn">返回</a>
						</div>
						<div class="caiwu_main">

							<div class="gankuang_two_con">
								<div class="gg_xinjian_zt">
									<img src="images/ggtj_03.jpg" />
								</div>
								<div class="gg_tj_main">
									<div class="clearfix gg_tj_gp">
										<span class="left gg_tj_gp_name">
											投放时间
										</span>
										<div class="gg_tj_gp_rt">全时间段</div>
									</div>
									<div class="clearfix gg_tj_gp">
										<span class="left gg_tj_gp_name">
											展示频次
										</span>
										<div class="gg_tj_gp_rt">不限定</div>
									</div>
									<div class="clearfix gg_tj_gp">
										<span class="left gg_tj_gp_name">
											投放平台
										</span>
										<div class="gg_tj_gp_rt">搜狐网</div>
									</div>
									<div class="dashed"></div>
									<div class="clearfix gg_tj_gp">
										<span class="left gg_tj_gp_name">
											定向用户
										</span>
										<div class="gg_tj_gp_rt">地域包含北京、沈阳市、大连市；商业兴趣包含游戏人群、亲子早教；性别包含女</div>
									</div>
									<div class="clearfix gg_tj_gp">
										<span class="left gg_tj_gp_name">
											广告出价
										</span>
										<div class="gg_tj_gp_rt">CPC  <span class="color_red">1.00 </span>元</div>
									</div>
									<div class="dashed"></div>
									<div class="clearfix gg_tj_gp">
										<span class="left gg_tj_gp_name">
											广告预览
										</span>
										<div class="gg_tj_gp_rt clearfix">
											<div class="left tj_guige  yh_guige">
												<p>规格1:280*200</p>
												<p class="tj_tl">组图信息流三行三列创意1</p>
												<div class="clearfix">
													<div class="left ppl_img">
														<img src="images/ggtj_07.jpg" />
													</div>
													<div class="right ppl_rt">
														<p class="tj_tl">组图信息流三行三列创意2</p>
												<p class="tj_text">这里放的创意文字内容这里放的创意文字内容这里放的创意文字内容</p>
													</div>
												</div>
												<div class="kp_img">
													<img src="images/ggtj_10.jpg" />
												</div>
											</div>
											<div class="left tj_guige  yh_guige">
												<p>规格1:280*200</p>
												<p class="tj_tl">组图信息流三行三列创意1</p>
												<div class="clearfix">
													<div class="left ppl_img">
														<img src="images/ggtj_07.jpg" />
													</div>
													<div class="right ppl_rt">
														<p class="tj_tl">组图信息流三行三列创意2</p>
												<p class="tj_text">这里放的创意文字内容这里放的创意文字内容这里放的创意文字内容</p>
													</div>
												</div>
													
												<div class="kp_img">
													<img src="images/ggtj_10.jpg" />
												</div>
											</div>
										</div>
									</div>
								    <div class="dashed"></div>
								    <div class="ggtj_btn">
								    	<a href="#">取消</a>
								    	<a href="gg_dingx.html">上一步</a>
								    	<a href="javascript:;" class="btn_blue tjgg">提交广告</a>
								    </div>
								</div>
								
								
								
								
								
								
							</div>

						</div>
					</div>

					<div class="banquan">© Copyright @2016-2018 广州真境信息科技有限公司 All Rights Reserved</div>
				</div>
			</div>
           <!-- 弹窗-->
           <div class="huibg">
           </div>
           <div class="tjgg_alert">

           		<div class="tjgg_alert_tl">
           			<p class="tjgg_alert_tl_big">提交成功</p>
           			<p>您还可以<a href="#">复制广告</a> 或 <a href="#">新建广告</a></p>
           		</div>
                <div class="ggtj_btn tjgg_success">
                	<a href="guanggao.html" class="btn_blue">查看广告</a>
                	<a href="#">关闭</a>
                </div>
           </div>
			
			<script type="text/javascript" src="js/houtai.js"></script>
			
	</body>

</html>