<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8" />
		<title>创意广告</title>
		<link rel="stylesheet" href="css/init.css" />
		<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />
		<link rel="stylesheet" href="css/houtai.css" />
		<script type="text/javascript" src="js/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="js/select.js"></script>
		<script type="text/javascript" src="js/echarts.js"></script>
		<script type="text/javascript">
			// 路径配置
			require.config({
				paths: {
					echarts: 'js'
				}
			});
		</script>
		<script>
			//获取查询时间
			function getLastDay(past){
				//  alert("past="+past);
				$.ajax({
					type:"GET",
					url:"/getLastDay",
					dataType:"json",
					data:"past="+past,
					success:function(data) {
						//alert("data="+data)
						//alert("day="+data.day);
						//alert("pastDay="+data.pastDay);
						document.getElementById("datepicker").value=data.pastDay;
						document.getElementById("datepicker1").value=data.day;
						if(past=="0") {
							document.getElementById("day0").className = "ahover";
							document.getElementById("day1").className = "";
							document.getElementById("day7").className = "";
							document.getElementById("day30").className = "";
						}
						if(past=="1"){
							document.getElementById("day1").className="ahover";
							document.getElementById("day0").className="";
							document.getElementById("day7").className="";
							document.getElementById("day30").className="";
						}
						if(past=="7"){
							document.getElementById("day7").className="ahover";
							document.getElementById("day0").className="";
							document.getElementById("day1").className="";
							document.getElementById("day30").className="";
						}
						if(past=="30"){
							document.getElementById("day30").className="ahover";
							document.getElementById("day0").className="";
							document.getElementById("day1").className="";
							document.getElementById("day7").className="";
						}
					}
				});
			}
			//根据查询时间查找数据
			function search(){
				alert("search");
				var startDate=document.getElementById("datepicker").value;
				var endDate=document.getElementById("datepicker1").value;
				alert("startDate="+startDate);
				alert("endDate="+endDate);
				$.ajax({
					type:"GET",
					url:"/searchForGaiKuang",
					dataType:"json",
					data:"startDate="+sratrDate+"&endDate="+endDate,
					success:function(data) {
						alert("data="+data);
					}
				});
			}
			//查询广告js
			function findAdName(){
                alert("findAdName");
				var _form = document.getElementById("findAdByNameForm");
				var _inputs = _form.getElementsByTagName("input");
				var adname;
				var userid;
                var adplanid;

				var path="/findAdByName";
				var flagname=true;
				for (var i = 0; i < _inputs.length; i++) {
					if(_inputs[i].name.toString()=="adname"){
                        adname=_inputs[i].value;
						if(adname==null||adname==""){
							flagname=false;
						}

					}
					if(_inputs[i].name.toString()=="userid"){
						userid=_inputs[i].value;
					}
                    if(_inputs[i].name.toString()=="adplanid"){
                        adplanid=_inputs[i].value;
                    }
				}

//            if(flagname==false){
//                // alert("11111="+111111);
//                document.getElementById("AdPlan_name").style.display="none";
//                // alert("ssss="+document.getElementById("AdPlan_name").style.display);
//            }

              alert("userid="+userid);
				if(flagname) {
					_form.action = path + "?adname="+adname+"&userid="+userid+"&adplanid="+adplanid;
					_form.submit();
				}

			}


            //修改推广计划js
            function updateAdStatus(adid){

               // alert("adid="+adid);
                var userid=document.getElementById("StatusUserId").value;
              //  alert("userid="+userid);
                var adplanid=document.getElementById("StatusAdPlanId").value;
               // alert("adplanid="+adplanid);
                var adstatus=document.getElementById("UpdateAdid"+adid).value
              //  alert("adstatus="+adstatus);

//                alert("adstatus="+document.getElementById("UpdateAdid"+adid).value);
//                alert("userid="+userid);
//                alert("adplanid="+adplanid);

                $.ajax({
                    type:"GET",
                    url:"/updateAdStatus",
                    dataType:"json",
                    data:"adstatus="+adstatus+"&adid="+adid+"&userid="+userid+"&adplanid="+adplanid,
                    success:function(data) {
                       // alert("data="+data);
                        document.getElementById("UpdateAdid"+adid).value=data.status;
                       // alert("adstatus="+  document.getElementById("UpdateAdid"+adid).value);
					//	alert("name="+  document.getElementById("UpdateAdid"+adid+"Name").textContent);
                        if(data.status==0) {
                            document.getElementById("UpdateAdid" + adid + "Name").textContent = "审核";
                            document.getElementById("UpdateAdid" + adid + "Name2").textContent = "待审核";
                        }
                        if(data.status==1) {
                            document.getElementById("UpdateAdid" + adid + "Name").textContent = "等待审核";
                            document.getElementById("UpdateAdid" + adid + "Name2").textContent = "审核中";
                        }
                        if(data.status==2) {
                            document.getElementById("UpdateAdid" + adid + "Name").textContent = "投放";
                            document.getElementById("UpdateAdid" + adid + "Name2").textContent = "审核通过";
                        }
                        if(data.status==3) {
                            document.getElementById("UpdateAdid" + adid + "Name").textContent = "审核";
                            document.getElementById("UpdateAdid" + adid + "Name2").textContent = "审核不通过";
                        }
                        if(data.status==4) {
                            document.getElementById("UpdateAdid" + adid + "Name").textContent = "投放";
                            document.getElementById("UpdateAdid" + adid + "Name2").textContent = "待投放";
                        }
                        if(data.status==5) {
                            document.getElementById("UpdateAdid" + adid + "Name").textContent = "暂停";
                            document.getElementById("UpdateAdid" + adid + "Name2").textContent = "投放中";
                        }
                        if(data.status==6) {
                            document.getElementById("UpdateAdid" + adid + "Name").textContent = "投放";
                            document.getElementById("UpdateAdid" + adid + "Name2").textContent = "暂停";
                        }
                        if(data.status==7) {
                            document.getElementById("UpdateAdid" + adid + "Name").textContent = "下线";
                            document.getElementById("UpdateAdid" + adid + "Name2").textContent = "投放结束";
                        }
                        if(data.status==8) {
                            document.getElementById("UpdateAdid" + adid + "Name").textContent = "已下线";
                            document.getElementById("UpdateAdid" + adid + "Name2").textContent = "下线";
                        }
                    }
                });

            }

		</script>
	</head>

	<body>
		<div class="tj_main">
			<div class="tj_main_lf">
				<div class="tj_main_lf_tl clearfix">
					<img src="images/gaikuang_03.png" />

				</div>
				<div class="tj_main_lf_tx">
					<div class="tj_main_lf_tx_main">
						<a href="per.html">
						<img src="images/tx.jpg" />
						</a>
					</div>
					<div class="tj_main_lf_text">
						<p class="per_a">
							<a href="per.html"><span th:text="${userName}"></span>
						</p>
						
					</div>
				</div>
				<div class="tj_main_lf_menu">

					<ul>
						<li>
							<a href="gaikuang.html" class="clearfix">
								<div class="left">
									<img src="images/gaikuang-06.png" /> 概况
								</div>
								<em class="right"></em>
							</a>
						</li>
						<li>
							<a href="tuiguang.html" class="clearfix">
								<div class="left">
									<img src="images/gaikuang_25.png" /> 推广计划
								</div>
								<em class="right"></em>
							</a>
						</li>
						<li>
							<a href="guanggao.html" class="clearfix ahover">
								<div class="left">
									<img src="images/gaikuang_42.png" /> 创意广告
								</div>
								<em class="right"></em>
							</a>
						</li>
						<li>
							<a href="caiwu.html" class="clearfix">
								<div class="left">
									<img src="images/gaikuang_49.png" /> 财务
								</div>
								<em class="right"></em>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="tj_main_rt">
				<div class="tj_main_rt_con">
					<div class="tj_main_rt_tl clearfix">
						<em class="tj_head_btn left"></em>
						<a href="/signout" class="tj_out right" >注销</a>
						<div class="right clearfix tj_head_tx">
							<a href="per.html">
							<img src="images/tx.jpg" class="left" />
							</a>
							<span class="left"><a href="per.html"><span th:text="${userName}"></span></a></span>
							<span class="left head_link"><a href="index.html">返回</a></span>
							<!--<span class="left head_link"><a href="feed.html">媒体主</a></span>-->
						</div>
					</div>

					<div class="gankuang_two" style="margin-top: 20px;">
						<div class="caiwu_tl clearfix">
							<a href="javascript:;" class="ahover"><span>创意广告</span></a>
							<a th:href="@{/gg_xinjian.html(adplanid=${adplanid})}"  class="right xinjian  blubtn">新建广告</a>
						</div>
						<div class="caiwu_main">

							<div class="gankuang_two_con">
								<p class="tj_suoming" style="margin-left: 0px;">
									统计说明：数据已完成核对至2016-11-07 23:59 。以下数据有近1小时的统计延迟（实时余额除外）仅供参考，请以次日完成核对的数据为准。
								</p>

								<div class="gankuang_two_tl clearfix">
                                    <form class="findAdByNameForm" id="findAdByNameForm">
									<div class="clearfix ss left">
										<input type="text" class="left" id="searchAdName" name="adname" placeholder="请输入广告名称" />
                                        <input type="hidden" name="userid" th:value="${userId}" />
                                        <input type="hidden" name="adplanid" th:value="${adplanid}" />
										<input type="button" class="right" onclick="findAdName()"/>
									</div>
                                    </form>
                                        <a href="javascript:void(0)" onClick="getLastDay('0')" id="day0" class="ahover">今天</a>
									<a href="javascript:void(0)" onClick="getLastDay('1')" id="day1"  >昨天</a>
									<a href="javascript:void(0)" onClick="getLastDay('7')" id="day7" >过去7天</a>
									<a href="javascript:void(0)" onClick="getLastDay('30')" id="day30" >过去30天</a>
									<input type="text" class="left rili" id="datepicker" th:value="${day}"/>
									<span class="left zhi">至</span>
									<input type="text" class="left rili" id="datepicker1" th:value="${day}"/>
									<input type="button" class="left" value="查询" onclick="search()"/>
									<a href="#" class="right down">下载报表</a>
								</div>
								<div class="caiwu_table tuiguang_table">
									<div class="guangao_table">
									<table cellpadding="0px" cellspacing="0px" width="100%">
										<tr>
											<th>广告名称</th>
											<th>
												所属推广计划
											</th>
											<th>操作</th>
											<th>
												<div class="jiaoy">
													<div class="model-select-box">
														<div class="model-select-text" data-value="1">全部状态</div>
														<ul class="model-select-option" style="display: none;">
															<li data-option="1" class="seleced data-selected">全部状态</li>
															<li data-option="2">未审核</li>
															<li data-option="3">暂停</li>
															<li data-option="4">投放结束</li>
															<li data-option="5">待投放</li>
															<li data-option="6">投放中</li>
															<li data-option="7">审核不通过</li>
															<li data-option="8">审核中</li>
														</ul>
													</div>
												</div>
											</th>
											<th>日限额(元)</th>
											<th>实时余额(元)</th>
											<th>曝光量(次)</th>
											<th>点击量(次)</th>
											<th>点击率(%)</th>
											<th>下载量(次)</th>
											<th>下载率(%)</th>
											<th>出价(元)</th>
											<th>出价方式</th>
											<th>花费(元)</th>
										</tr>
                                        <tr th:each="ad:${adList}" name="AdStatusByChange" th:value="${ad.getStatus()}">
                                        	<td>
												<a th:href="@{/guangao_con.html(adid=${ad.getAdId()},adplanid=${ad.getAdPlanId()})}"><span th:text="${ad.getName()}"></span></a>
                                        	</td>
                                        	<td>
												<a th:href="@{/guanggao.html(adplanid=${ad.getAdPlanId()})}"><span th:text="${ad.getAdPlanName()}"></span></a>
                                        	</td>
                                        	<td>
												<span th:if="${0==ad.getStatus()}"><a href="javascript:void(0)" th:onclick="'javascript:updateAdStatus('+${ad.getId()}+');'"> <span th:id=" 'UpdateAdid' + ${ad.getId()}+Name" th:text="审核"></span><input th:id=" 'UpdateAdid' + ${ad.getId()}" type="hidden"  th:value="${ad.getStatus()}" /></a></span>
                                                <span th:if="${1==ad.getStatus()}">等待审核</span>
												<span th:if="${2==ad.getStatus()}"><a href="javascript:void(0)" th:onclick="'javascript:updateAdStatus('+${ad.getId()}+');'"> <span th:id=" 'UpdateAdid' + ${ad.getId()}+Name" th:text="投放"></span><input th:id=" 'UpdateAdid' + ${ad.getId()}" type="hidden"  th:value="${ad.getStatus()}" /></a></span>
												<span th:if="${3==ad.getStatus()}"><a href="javascript:void(0)" th:onclick="'javascript:updateAdStatus('+${ad.getId()}+');'"> <span th:id=" 'UpdateAdid' + ${ad.getId()}+Name" th:text="审核"></span><input th:id=" 'UpdateAdid' + ${ad.getId()}" type="hidden"  th:value="${ad.getStatus()}" /></a></span>
												<span th:if="${4==ad.getStatus()}"><a href="javascript:void(0)" th:onclick="'javascript:updateAdStatus('+${ad.getId()}+');'"> <span th:id=" 'UpdateAdid' + ${ad.getId()}+Name" th:text="投放"></span><input th:id=" 'UpdateAdid' + ${ad.getId()}" type="hidden"  th:value="${ad.getStatus()}" /></a></span>
												<span th:if="${5==ad.getStatus()}"><a href="javascript:void(0)" th:onclick="'javascript:updateAdStatus('+${ad.getId()}+');'"><span th:id=" 'UpdateAdid' + ${ad.getId()}+Name" th:text="暂停"></span><input th:id=" 'UpdateAdid' + ${ad.getId()}" type="hidden"  th:value="${ad.getStatus()}" /></a></span>
												<span th:if="${6==ad.getStatus()}"><a href="javascript:void(0)" th:onclick="'javascript:updateAdStatus('+${ad.getId()}+');'"> <span th:id=" 'UpdateAdid' + ${ad.getId()}+Name" th:text="投放"></span><input th:id=" 'UpdateAdid' + ${ad.getId()}" type="hidden"  th:value="${ad.getStatus()}" /></a></span>
												<span th:if="${7==ad.getStatus()}"><a href="javascript:void(0)" th:onclick="'javascript:updateAdStatus('+${ad.getId()}+');'"> <span th:id=" 'UpdateAdid' + ${ad.getId()}+Name" th:text="下线"></span><input th:id=" 'UpdateAdid' + ${ad.getId()}" type="hidden"  th:value="${ad.getStatus()}" /></a></span>
                                                <span th:if="${8==ad.getStatus()}">已下线</span>
                                        	</td>
                                        	<td>
                                                <span th:if="${0==ad.getStatus()}"><span th:id=" 'UpdateAdid' + ${ad.getId()}+Name2" th:text="待审核"></span></span>
                                                <span th:if="${1==ad.getStatus()}"><span th:id=" 'UpdateAdid' + ${ad.getId()}+Name2" th:text="审核中"></span></span>
                                                <span th:if="${2==ad.getStatus()}"><span th:id=" 'UpdateAdid' + ${ad.getId()}+Name2" th:text="审核通过"></span></span>
                                                <span th:if="${3==ad.getStatus()}"><span th:id=" 'UpdateAdid' + ${ad.getId()}+Name2" th:text="审核不通过"></span></span>
                                                <span th:if="${4==ad.getStatus()}"><span th:id=" 'UpdateAdid' + ${ad.getId()}+Name2" th:text="待投放"></span></span>
                                                <span th:if="${5==ad.getStatus()}"><span th:id=" 'UpdateAdid' + ${ad.getId()}+Name2" th:text="投放中"></span></span>
                                                <span th:if="${6==ad.getStatus()}"><span th:id=" 'UpdateAdid' + ${ad.getId()}+Name2" th:text="暂停"></span></span>
                                                <span th:if="${7==ad.getStatus()}"><span th:id=" 'UpdateAdid' + ${ad.getId()}+Name2" th:text="投放结束"></span></span>
                                                <span th:if="${8==ad.getStatus()}"><span th:id=" 'UpdateAdid' + ${ad.getId()}+Name2" th:text="下线"></span></span>
                                            </td>

                                        	<td>不限定</td>
                                        	<td>1.000.00</td>
                                        	<td>0</td>
                                        	<td>0</td>
                                        	<td>0.00</td>
                                        	<td>0</td>
                                        	<td>0.00</td>
                                        	<td>0.50</td>
                                        	<td>CPC</td>
                                        	<td>0.00</td>
                                        </tr>
                                        <input type="hidden" id="StatusUserId" th:value="${userId}" />
                                        <input type="hidden" id="StatusAdPlanId" th:value="${adplanid}" />
										<tr class="heji">
											<td>
												本页合计
											</td>
											<td>
												——
											</td>
											<td>——</td>
											<td>——</td>
											<td>——</td>
											<td>——</td>
											<td>0</td>
											<td>0</td>
											<td>0.00</td>
											<td>0</td>
											<td>0.00</td>
											<td>——</td>
											<td>——</td>
											<td>0.00</td>
										</tr>
										<tr class="quanbuheji">
											<td>
												全部合计
											</td>
											<td>
												——
											</td>
											<td>——</td>
											<td>——</td>
											<td>——</td>
											<td>——</td>
											<td>0</td>
											<td>0</td>
											<td>0.00</td>
											<td>0</td>
											<td>0.00</td>
											<td>——</td>
											<td>——</td>
											<td>0.00</td>
										</tr>
									</table>
									</div>
                                    <div class="clearfix table_page">
										<span class="left table_page_lf">显示 1-10 条数据 ；总记录数为 36 条</span>
										<div class="right table_page_rt">
											<a href="#" style="background: #6495ed;color: #fff;">&lt;</a>
											<a href="#">1</a>
											<a href="#">2</a>
											<a href="#">3</a>
											<a href="#">4</a>
											<a href="#">5</a>
											<a href="#">6</a>
											<a href="#">...</a>
											<a href="#">31</a>
											<a href="#" style="background: #6495ed;color: #fff;">&gt;</a>

										</div>
									</div>
								</div>
							    <div class="guanggao_echarts">
							    	<div class="guanggao_echarts_tl">
							    		<a href="javascript:;" class="ahover">曝光量</a>
							    		<a href="javascript:;">点击量</a>
							    		<a href="javascript:;">点击率</a>
							    		<a href="javascript:;">下载量</a>
							    		<a href="javascript:;">下载率  </a>
							    		<a href="javascript:;">花费</a>
							    	</div>
							    	<div class="guanggao_echarts_main">
							    		<div class="guanggao_echarts_con xianshi">
							    			<div id="biaoge10" style="width: 100%;height: 100%;"></div>
							    		</div>
							    		<div class="guanggao_echarts_con">
							    			<div id="biaoge11" style="width: 100%;height: 100%;"></div>
							    		</div>
							    		<div class="guanggao_echarts_con">
							    			<div id="biaoge12" style="width: 100%;height: 100%;"></div>
							    		</div>
							    		<div class="guanggao_echarts_con">
							    			<div id="biaoge13" style="width: 100%;height: 100%;"></div>
							    		</div>
							    		<div class="guanggao_echarts_con">
							    			<div id="biaoge14" style="width: 100%;height: 100%;"></div>
							    		</div>
							    		<div class="guanggao_echarts_con">
							    			<div id="biaoge15" style="width: 100%;height: 100%;"></div>
							    		</div>
							    	</div>
							    </div>
							</div>

						</div>
					</div>

					<div class="banquan">© Copyright @2016-2018 广州真境信息科技有限公司 All Rights Reserved</div>
				</div>
			</div>
			
			<script type="text/javascript" src="js/houtai.js"></script>
			<script type="text/javascript" src="js/guanggao.js" ></script>
			<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
			<script type="text/javascript" src="js/bootstrap-datepicker.zh-CN.js"></script>
			<script type="text/javascript">
				$('#datepicker').datepicker({
					show: true,
					format: 'yyyy-mm-dd',
					language: 'zh-CN',
					weekStart: 1,
					autoclose: true,
					todayHighlight: true,
					todayBtn: 'linked'

				});
				$('#datepicker1').datepicker({
					show: true,
					format: 'yyyy-mm-dd',
					language: 'zh-CN',
					weekStart: 1,
					autoclose: true,
					todayHighlight: true,
					todayBtn: 'linked'

				});
			</script>
	</body>

</html>