<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>个人中心</title>
		<link rel="stylesheet" href="css/init.css" />
		<link rel="stylesheet" href="css/houtai.css" />
		<script type="text/javascript" src="js/jquery-1.7.2.js"></script>
		<script type="text/javascript" src="js/select.js"></script>
	</head>

	<body>
		<div class="tj_main">
			<div class="tj_main_lf">
				<div class="tj_main_lf_tl clearfix">
					<img src="images/gaikuang_03.png" />

				</div>
				<div class="tj_main_lf_tx">
					<div class="tj_main_lf_tx_main">
						<a href="per.html">
						<img src="images/tx.jpg" />
						</a>
					</div>
					<div class="tj_main_lf_text">
						<p class="per_a">
							<a href="per.html">
							John Smith
							</a>
						</p>
						
					</div>
				</div>
				<div class="tj_main_lf_menu">

					<ul>
						<li>
							<a href="gaikuang.html" class="clearfix">
								<div class="left">
									<img src="images/gaikuang-06.png" /> 概况
								</div>
								<em class="right"></em>
							</a>
						</li>
						<li>
							<a href="tuiguang.html" class="clearfix">
								<div class="left">
									<img src="images/gaikuang_25.png" /> 推广计划
								</div>
								<em class="right"></em>
							</a>
						</li>
						<li>
							<a href="guanggao.html" class="clearfix">
								<div class="left">
									<img src="images/gaikuang_42.png" /> 创意广告
								</div>
								<em class="right"></em>
							</a>
						</li>
						<li>
							<a href="caiwu.html" class="clearfix">
								<div class="left">
									<img src="images/gaikuang_49.png" /> 财务
								</div>
								<em class="right"></em>
							</a>
						</li>
					</ul>

				</div>
			</div>
			<div class="tj_main_rt">
				<div class="tj_main_rt_con">
					<div class="tj_main_rt_tl clearfix">
						<em class="tj_head_btn left"></em>
						<a href="#" class="tj_out right" onclick="">注销</a>
						<div class="right clearfix tj_head_tx">
							<a href="per.html">
							<img src="images/tx.jpg" class="left" />
							</a>
							<span class="left"><a href="per.html">John Smith</a></span>
							<span class="left head_link"><a href="index.html">首页</a></span>
							<span class="left head_link"><a href="feed.html">媒体主</a></span>
						</div>
					</div>

					<div class="gankuang_two" style="margin-top: 20px;">
						<div class="caiwu_tl clearfix">
							<a href="javascript:;" class="ahover"><span>个人中心</span></a>
						</div>
						<div class="per_mess">
							<div class="per_mess_con clearfix">
								<div class="left per_img">
									<div class="per_img_main">
									<img src="images/tx.jpg" />
									<input type="file" />
									<p>编辑头像</p>
									</div>
								</div>
								<div class="per_rt left">
									<div class="clearfix per_rt_t">
										<div class="left per_rt_main">
											<span class="per_name">用户名</span>John Smith
										</div>
										<div class="right per_rt_main">
											<span class="per_name">邮箱</span>zjf98100@163.com
										</div>
									</div>
									<div class="clearfix per_rt_bianji">
										<span class="per_name left">手机号</span>
										<input type="text" class="left" placeholder="您尚未绑定手机号" />
										<a href="#" class="bi left" title="提交"></a>
									</div>
									<div class="clearfix per_rt_bianji">
										<span class="per_name left">QQ</span>
										<input type="text" class="left" placeholder="您尚未绑定QQ号" />
										<a href="#" class="bi left" title="提交"></a>
									</div>
									<div class="clearfix per_rt_bianji">
										<span class="per_name left">微信号</span>
										<input type="text" class="left" placeholder="您尚未绑定微信号" />
										<a href="#" class="bi left" title="提交"></a>
									</div>
								</div>
							</div>
						</div>
					    <div class="per_b">
					    	<div class="renzhengqian">
					    	<img src="images/per_033.jpg" />
					    	<div class="renzheng">
					    		<a href="javascript:;" class="renzhengbtn">
					    			点击认证
					    		</a>
					    	</div>
					    	</div>
					    	
					    </div>
					</div>

					<div class="banquan">© Copyright @2016-2018 广州真境信息科技有限公司 All Rights Reserved</div>
				</div>
			</div>
			<script type="text/javascript" src="js/houtai.js"></script>
	       <!-- 弹窗-->
	       <div class="huibg">  </div>
	      <!-- 认证-->
	       <div class="renzheng_alert">
	       	<div class="caiwu_tl clearfix">
							<a href="javascript:;" class="ahover"><span>认证类型</span></a>
			</div>
	       <em class="cha"></em>
	       
	       <div class="renzheng_main">
	       	<img src="images/renzheng_07.jpg" class="geren" />
	       	<img src="images/renzheng_09.jpg" class="qiye" />
	       </div>
	       </div>
	       <!--个人认证-->
	       <div class="geren_alert">
	       	<div class="caiwu_tl clearfix">
							<a href="javascript:;" class="ahover"><span>个人认证</span></a>
			</div>
	       <em class="cha"></em>
	        <form>
	        	<div class="geren_form">
	        		<div class="clearfix geren_gp">
	        			<span class="left geren_gp_name">
	        				<span class="star">*</span>真实姓名：
	        			</span>
	        			<div class="geren_rt">
	        				<input type="text" />
	        			</div>
	        		</div>
	        		<div class="clearfix geren_gp">
	        			<span class="left geren_gp_name">
	        				<span class="star">*</span>证件类型：
	        			</span>
	        			<div class="geren_rt">
	        				<select>
	        					<option>
	        						身份证
	        					</option>
	        					<option>
	        						身份证
	        					</option>
	        				</select>
	        			</div>
	        		</div>
	        	    <div class="clearfix geren_gp">
	        			<span class="left geren_gp_name">
	        				<span class="star">*</span>证件号码：
	        			</span>
	        			<div class="geren_rt">
	        				<input type="text" />
	        			</div>
	        		</div>
	        		<div class="clearfix geren_gp">
	        			<span class="left geren_gp_name">
	        				<span class="star">*</span>上传附件：
	        			</span>
	        			<div class="geren_rt clearfix">
	        				<div class="left shenfenzheng">
	        					<input type="file" />
	        					<img src="images/shenfenzheng_03.jpg" />
	        				</div>
	        				<div class="left shenfenzheng">
	        					<input type="file" />
	        					<img src="images/shenfenzheng_06.jpg" />
	        				</div>
	        				<div class="left shenfenzheng_text">
	        					请点击上传身份证正反面清晰扫描件，
支持jpg、jpeg、png等格式。
	        				</div>
	        			</div>
	        		</div>
	        	    <div class="clearfix geren_gp">
	        			<span class="left geren_gp_name">
	        				<span class="star">*</span>联系电话： 
	        			</span>
	        			<div class="geren_rt">
	        				<input type="text" />
	        			</div>
	        		</div>
	        		 <div class="clearfix geren_gp">
	        			<span class="left geren_gp_name">
	        				个人网址：
	        			</span>
	        			<div class="geren_rt">
	        				<input type="text" />
	        			</div>
	        		</div>
	        		 <div class="clearfix geren_gp">
	        			<span class="left geren_gp_name">
	        				联系地址：
	        			</span>
	        			<div class="geren_rt">
	        				<input type="text" />
	        			</div>
	        		</div>
	        	    <div class="geren_btn">
	        	    	<input type="submit" value="提交" class="blubtn" />
	        	    	<input type="reset" value="取消" class="quxiao" />
	        	    </div>
	        	</div>
	        </form>
	       </div>
	    <!--   企业认证-->
	        <div class="qiye_alert">
	       	<div class="caiwu_tl clearfix">
							<a href="javascript:;" class="ahover"><span>企业认证</span></a>
			</div>
	       <em class="cha"></em>
	        <form>
	        	<div class="geren_form">
	        		<div class="clearfix geren_gp">
	        			<span class="left geren_gp_name">
	        				<span class="star">*</span>企业名称：
	        			</span>
	        			<div class="geren_rt">
	        				<input type="text" />
	        			</div>
	        		</div>
	        		<div class="clearfix geren_gp">
	        			<span class="left geren_gp_name">
	        				<span class="star">*</span>组织机构代码：
	        			</span>
	        			<div class="geren_rt">
	        				<input type="text" />
	        			</div>
	        		</div>
	        	    
	        		<div class="clearfix geren_gp">
	        			<span class="left geren_gp_name">
	        				<span class="star">*</span>营业执照上传：
	        			</span>
	        			<div class="geren_rt clearfix">
	        				<div class="left shenfenzheng">
	        					<input type="file" />
	        					<img src="images/shenfenzheng_03.jpg" />
	        				</div>
	        				
	        				<div class="left shenfenzheng_text" style="width: 230px;">
	        					请点击上传加盖公章的营业执照副本扫描件，
支持jpg、jpeg、png等格式。
	        				</div>
	        			</div>
	        		</div>
	        	    <div class="clearfix geren_gp">
	        			<span class="left geren_gp_name">
	        				<span class="star">*</span>联系电话： 
	        			</span>
	        			<div class="geren_rt">
	        				<input type="text" />
	        			</div>
	        		</div>
	        		 <div class="clearfix geren_gp">
	        			<span class="left geren_gp_name">
	        				个人网址：
	        			</span>
	        			<div class="geren_rt">
	        				<input type="text" />
	        			</div>
	        		</div>
	        		 <div class="clearfix geren_gp">
	        			<span class="left geren_gp_name">
	        				联系地址：
	        			</span>
	        			<div class="geren_rt">
	        				<input type="text" />
	        			</div>
	        		</div>
	        	    <div class="geren_btn">
	        	    	<input type="submit" value="提交" class="blubtn" />
	        	    	<input type="reset" value="取消" class="quxiao" />
	        	    </div>
	        	</div>
	        </form>
	       </div>
	</body>

</html>